<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fu Tian Pay</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <link href="assets/lib/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
    <link href="assets/lib/fancybox/jquery.fancybox.min.css" rel="stylesheet">
    <link href="assets/lib/owl.carousel/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/element-ui.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-sparrow">
        <div class="container"><a class="navbar-brand" href="index.html"><img src="assets/img/Logo.png" alt="sparrow" height="40"></a>
          <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown1" aria-controls="navbarNavDropdown1" aria-expanded="false" aria-label="Toggle navigation">
            <div class="fancynavbar" type="button" data-toggle="collapse" data-target="#navbarNavDropdown1" aria-controls="navbarNavDropdown1" aria-expanded="false" aria-label="Toggle navigation">
              <div class="fancynavbar-togglerbar">
                <div class="fancynavbar-toggler">
                  <svg class="fancynavbar-toggler-icon" viewbox="0 0 70 70" xmlns="http://www.w3.org/2000/svg" data-zanim-lg="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;x&quot;:45},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;x&quot;:0},&quot;ease&quot;:&quot;CubicBezier&quot;,&quot;duration&quot;:0.8,&quot;delay&quot;:0.5}" data-zanim-trigger="scroll">
                    <path id="path-top" d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8"></path>
                    <path id="path-middle" d="M20,32h30"></path>
                    <path id="path-bottom" d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavDropdown1">
            <ul class="navbar-nav ml-auto d-lg-flex align-items-lg-center">
              <li class="nav-item"><a class="nav-link" href="index.html#top" data-zanim-timeline="{&quot;delay&quot;:1}" data-fancyscroll="data-fancyscroll" data-offset="70">{{ $t('Nav.Index'/*首頁*/) }}</a></li>
              <li class="nav-item dropdown DropdownForm"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ $t('Nav.Service'/*服務項目*/) }}</a>
                <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownMenuLink1">
                  <div class="d-flex flex-row text-center ServiceDropdown">
                    <div class="dropdown-item">{{ $t('Nav.Country'/*服務國家*/) }}</div><a class="dropdown-item" href="serviceTw.html">{{ $t('Nav.Tw'/*台灣*/) }}</a><a class="dropdown-item" href="serviceCh.html">{{ $t('Nav.Ch'/*中國*/) }}</a><a class="dropdown-item" href="serviceTh.html">{{ $t('Nav.Th'/*泰國*/) }}</a><a class="dropdown-item" href="serviceVi.html">{{ $t('Nav.Vi'/*越南*/) }}</a><a class="dropdown-item" href="serviceUSDT.html">{{ $t('Nav.En'/*USDT*/) }}</a>
                  </div>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="news.html">{{ $t('Nav.News'/*最新消息*/) }}</a></li>
              <li class="nav-item"><a class="nav-link" href="shop.html">{{ $t('Nav.Shop'/*線上商店*/) }}</a></li>
              <li class="nav-item d-lg-none d-block"><a class="nav-link" href="cart.html">{{ $t('Nav.Cart'/*購物車*/) }}</a></li>
              <li class="nav-item d-lg-none d-block"><a class="nav-link" href="#digital-contact" data-zanim-timeline="{&quot;delay&quot;:1}" data-fancyscroll="data-fancyscroll" data-offset="70">{{ $t('Nav.Contact'/*聯絡我們*/) }}</a></li>
              <div class="navLineOne d-none d-lg-block mx-3"></div>
              <div class="navLineTwo d-block d-lg-none my-3"></div>
              <li class="nav-item"><a class="nav-link" href="login.html">{{ $t('Nav.Login'/*登入*/) }}</a></li>
              <li class="nav-item dropdown DropdownForm"><a class="nav-link dropdown-toggle NavFlag" id="navbarDropdownMenuLink2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img :src="&quot;/assets/img/flag/&quot;+flag+&quot;.svg&quot;"></a>
                <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownMenuLink2">
                  <div class="d-flex flex-row flex-lg-column justify-content-between text-center FlagDropdown"><a class="dropdown-item MenuFlag" @click="switchLanguage(&quot;zh-tw&quot;)"><img src="/assets/img/flag/zh-tw.svg"></a><a class="dropdown-item MenuFlag" @click="switchLanguage(&quot;zh-cn&quot;)"><img src="/assets/img/flag/zh-cn.svg"></a><a class="dropdown-item MenuFlag" @click="switchLanguage(&quot;en&quot;)"><img src="/assets/img/flag/en.svg"></a><a class="dropdown-item MenuFlag" @click="switchLanguage(&quot;th&quot;)"><img src="/assets/img/flag/th.svg"></a><a class="dropdown-item MenuFlag" @click="switchLanguage(&quot;vi&quot;)"><img src="/assets/img/flag/vi.svg"></a><a class="dropdown-item MenuFlag" @click="switchLanguage(&quot;ms&quot;)"><img src="/assets/img/flag/ms.svg"></a></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="Fixed" data-zanim-timeline="{&quot;delay&quot;:1}" data-zanim-trigger="scroll" data-fancyscroll="data-fancyscroll">
        <div class="FixedForm d-flex flex-column align-items-end" data-zanim-xs="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;y&quot;:30},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;y&quot;:-5,&quot;scale&quot;:1},&quot;ease&quot;:&quot;Back.easeOut&quot;,&quot;duration&quot;:0.4,&quot;delay&quot;:0.25}"><a class="FixedBtn" href="#top" data-fancyscroll="data-fancyscroll">
            <div class="FixedBackTop"><img src="assets/img/icon/IconArrow.svg"></div></a><a class="FixedBtn" href="cart.html">
            <el-badge class="CartBadge" :value="cartAmount &gt; 0 ? cartAmount : ''" :max="10">
              <div class="FixedCart"><img src="assets/img/icon/IconCart.svg"></div>
            </el-badge></a><a class="FixedBtn d-none d-lg-block" href="index.html#digital-contact" data-zanim-timeline="{&quot;delay&quot;:1}" data-fancyscroll="data-fancyscroll" data-offset="70">
            <div class="FixedContact">
              <div class="FixedContactCont">Contact</div>
            </div></a><a class="FixedBtn" href="https://t.me/FTciwu1">
            <div class="FixedTelegram"><img src="assets/img/icon/IconTelegram.svg" target="_blank"></div></a><a class="FixedBtn" href="https://join.skype.com/invite/fEqsIfeCatRu?source=qr-ios" target="_blank">
            <div class="FixedSkype"><img src="assets/img/icon/IconSkype.svg"></div></a></div>
      </div>
      <main class="main min-vh-100" id="top">
        <div class="preloader" id="preloader">
          <div class="loader">
            <div class="line-scale-pulse-out-rapid">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <section class="py-0 overflow-hidden" id="page-banner">
          <div class="bg-holder" data-zanim-xs="{&quot;delay&quot;:0.4,&quot;animation&quot;:&quot;zoom-out&quot;}" data-zanim-trigger="scroll" style="background-image:url(assets/img/pageBanner/PageBannerFour.jpg);"></div>
          <div class="container">
            <div class="row">
              <div class="col-9 pt-9 pb-7">
                <div class="media">
                  <div class="media-body pl-3">
                    <div class="overflow-hidden">
                      <h2 class="fs-2 fs-lg-4 text-white display-4 display-lg-4 pb-2" data-zanim-xs="{&quot;delay&quot;:0.6}" data-zanim-trigger="scroll"><span style="opacity: 0;">{{ $t('PageBannerFour.MainTitle'/*最新商品資訊*/) }}</span></h2>
                    </div>
                    <div class="overflow-hidden">
                      <h5 class="ls-1 text-white text-uppercase mb-0" data-zanim-xs="{&quot;delay&quot;:0.8}" data-zanim-trigger="scroll"><span style="opacity: 0;">{{ $t('PageBannerFour.Subheading'/*全年無休、疑難排解、技術支援、系統教學*/) }}</span></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="py-lg-5 Cart overflow-hidden" id="page-cart">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-lg-7 TitleFormB">
                <h2 class="Title">{{ $t('Cart.Title'/*YOUR CART*/) }}</h2>
                <div class="MainTitle">{{ $t('Cart.MainTitle'/*購物車列表*/) }}</div>
              </div>
            </div>
            <div class="row py-3">
              <div class="col"><a class="btn btn-link px-0 text-secondary" href="shop.html"><span class="fas fa-chevron-left" data-fa-transform="down-1"></span><span class="pl-2">{{ $t('Cart.BackShop'/*Back To Shop*/) }}</span></a></div>
            </div>
            <div class="row d-lg-block d-none">
              <div class="col-12">
                <div class="row CartListItem d-flex flex-row py-3">
                  <div class="col-2 text-center">
                    <div class="CartListItemName">{{ $t('Cart.GoodsImg'/*商品圖*/) }}</div>
                  </div>
                  <div class="col-4 text-center">
                    <div class="CartListItemName">{{ $t('Cart.GoodsName'/*商品名稱*/) }}</div>
                  </div>
                  <div class="col-2 text-center">
                    <div class="CartListItemName">{{ $t('Cart.GoodsAmount'/*數量*/) }}</div>
                  </div>
                  <div class="col-2 text-center">
                    <div class="CartListItemName">{{ $t('Cart.Amount'/*金額*/) }}</div>
                  </div>
                  <div class="col-2 text-center">
                    <div class="CartListItemName">{{ $t('Cart.DeleteGoods'/*刪除商品*/) }}</div>
                  </div>
                </div>
                <div class="row CartList d-flex flex-row justify-content-center align-items-center py-3 text-center">
                  <div class="col-2">
                    <div class="CartListImg overflow-hidden d-flex justify-content-center align-items-center mr-3"><img class="w-100 h-auto" src="assets/img/cartImg/01.png" alt="" width="50"></div>
                  </div>
                  <div class="col-4"><span>DemoProduct</span></div>
                  <div class="col-2">
                    <el-form>
                      <el-form-item label="">
                        <el-select v-model="goodsAmount" placeholder="0" clearable>
                          <el-option value="1" label="1"></el-option>
                          <el-option value="2" label="2"></el-option>
                          <el-option value="3" label="3"></el-option>
                          <el-option value="4" label="4"></el-option>
                        </el-select>
                      </el-form-item>
                    </el-form>
                  </div>
                  <div class="col-2">
                    <h6 class="fs-0 font-weight-normal mb-0 TextR">$500.00</h6>
                  </div>
                  <div class="col-2">
                    <el-button class="BtnBlue" type="submit" @click="deleteCart">{{ $t('Btn.Delete'/*刪除*/) }}</el-button>
                  </div>
                </div>
                <div class="row CartList d-flex flex-row justify-content-center align-items-center py-3 text-center">
                  <div class="col-2">
                    <div class="CartListImg overflow-hidden d-flex justify-content-center align-items-center mr-3"><img class="w-100 h-auto" src="assets/img/cartImg/01.png" alt="" width="50"></div>
                  </div>
                  <div class="col-4"><span>DemoProduct</span></div>
                  <div class="col-2">
                    <el-form>
                      <el-form-item label="">
                        <el-select v-model="goodsAmount" placeholder="0" clearable>
                          <el-option value="1" label="1"></el-option>
                          <el-option value="2" label="2"></el-option>
                          <el-option value="3" label="3"></el-option>
                          <el-option value="4" label="4"></el-option>
                        </el-select>
                      </el-form-item>
                    </el-form>
                  </div>
                  <div class="col-2">
                    <h6 class="fs-0 font-weight-normal mb-0 TextR">$500.00</h6>
                  </div>
                  <div class="col-2">
                    <el-button class="BtnBlue" type="submit" @click="deleteCart">{{ $t('Btn.Delete'/*刪除*/) }}</el-button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row d-lg-none">
              <div class="col-12">
                <div class="row CartList d-flex flex-column justify-content-center align-items-center py-3 text-center">
                  <div class="col-12">
                    <div class="row d-flex flex-row align-items-center">
                      <div class="col-4">
                        <div class="CartListImg overflow-hidden d-flex justify-content-center align-items-center"><img class="w-100 h-auto" src="assets/img/cartImg/01.png" alt="" width="50"></div>
                      </div>
                      <div class="col-8">
                        <div class="row">
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="CartListTitle text-right">{{ $t('Cart.GoodsName'/*商品名稱*/) }}：</div><span>DemoProduct</span>
                          </div>
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="CartListTitle text-right">{{ $t('Cart.GoodsAmount'/*數量*/) }}：</div>
                            <el-form class="pr-5">
                              <el-form-item label="">
                                <el-select v-model="goodsAmount" placeholder="0" clearable>
                                  <el-option value="1" label="1"></el-option>
                                  <el-option value="2" label="2"></el-option>
                                  <el-option value="3" label="3"></el-option>
                                  <el-option value="4" label="4"></el-option>
                                </el-select>
                              </el-form-item>
                            </el-form>
                          </div>
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="CartListTitle text-right">{{ $t('Cart.Amount'/*金額*/) }}： </div>
                            <h6 class="fs-0 font-weight-normal mb-0 TextR">$500.00</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 pt-3">
                    <el-button class="BtnBlue" type="submit" @click="deleteCart">{{ $t('Btn.Delete'/*刪除*/) }}</el-button>
                  </div>
                </div>
                <div class="row CartList d-flex flex-column justify-content-center align-items-center py-3 text-center">
                  <div class="col-12">
                    <div class="row d-flex flex-row align-items-center">
                      <div class="col-4">
                        <div class="CartListImg overflow-hidden d-flex justify-content-center align-items-center"><img class="w-100 h-auto" src="assets/img/cartImg/01.png" alt="" width="50"></div>
                      </div>
                      <div class="col-8">
                        <div class="row">
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="CartListTitle text-right">{{ $t('Cart.GoodsName'/*商品名稱*/) }}：</div><span>DemoProduct</span>
                          </div>
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="CartListTitle text-right">{{ $t('Cart.GoodsAmount'/*數量*/) }}：</div>
                            <el-form class="pr-5">
                              <el-form-item label="">
                                <el-select v-model="goodsAmount" placeholder="0" clearable>
                                  <el-option value="1" label="1"></el-option>
                                  <el-option value="2" label="2"></el-option>
                                  <el-option value="3" label="3"></el-option>
                                  <el-option value="4" label="4"></el-option>
                                </el-select>
                              </el-form-item>
                            </el-form>
                          </div>
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="CartListTitle text-right">{{ $t('Cart.Amount'/*金額*/) }}： </div>
                            <h6 class="fs-0 font-weight-normal mb-0 TextR">$500.00</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 pt-3">
                    <el-button class="BtnBlue" type="submit" @click="deleteCart">{{ $t('Btn.Delete'/*刪除*/) }}</el-button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-end text-lg-right text-center mt-4">
              <div class="col-12" data-zanim-timeline="{&quot;delay&quot;:0.1}" data-zanim-trigger="scroll">
                <div class="row justify-content-end mt-2">
                  <div class="col-12" data-zanim-xs="{&quot;delay&quot;:0.1}"><span>{{ $t('Cart.TotalAmount'/*購買總金額：*/) }}</span><span class="TextR">$495.00</span></div>
                </div>
                <div class="row justify-content-end mt-4">
                  <div class="col-12">
                    <el-button class="BtnRed" type="submit" @click="addCart" data-zanim-xs="{&quot;delay&quot;:0.2}">{{ $t('Btn.Checkout'/*結帳*/) }}</el-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="Advertising text-center text-sans-serif">
          <div class="container-fluid">
            <div class="row d-flex flex-row justify-content-center align-items-center">
              <div class="col-12 AdvertisingForm d-flex flex-row justify-content-center align-items-center">
                <div class="mx-2"><img src="assets/img/advertising/ad01.png"></div>
                <div class="mx-2"><img src="assets/img/advertising/ad01.png"></div>
                <div class="mx-2"><img src="assets/img/advertising/ad01.png"></div>
                <div class="mx-2 d-none d-lg-block"><img src="assets/img/advertising/ad01.png"></div>
              </div>
            </div>
          </div>
        </section>
        <section class="text-center text-sans-serif Company" id="digital-socials">
          <div class="container">
            <div class="row d-flex flex-row justify-content-center align-items-center">
              <div class="CompanyCont col-md-6 col-lg-4 d-flex flex-row justify-content-center justify-content-lg-end align-items-center text-md-center"><img src="assets/img/icon/IconPhone.svg"><a class="CompanyInfo pl-2" href="tel:+1234567-891">+1 (234) 567-891</a></div>
              <div class="CompanyLine mx-2 d-lg-block d-none"></div>
              <div class="CompanyCont col-md-6 col-lg-4 d-flex flex-row justify-content-center justify-content-lg-start align-items-center text-md-center"><img src="assets/img/icon/IconEmail.svg"><a class="CompanyInfo pl-2" href="mailto:futian@futian.com">futian@futian.com</a></div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer text-center overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <p class="fs--1 text-uppercase ls font-weight-bold mb-0">Copyright © 2020 All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/lib/loaders.css/loaders.css.js"></script>
    <script src="assets/js/stickyfill.min.js"></script>
    <script src="assets/lib/is_js/is.min.js"></script>
    <script src="assets/lib/jtap/jquery.tap.js"></script>
    <script src="assets/js/rellax.min.js"></script>
    <script src="assets/lib/fancybox/jquery.fancybox.min.js"></script>
    <script src="assets/lib/owl.carousel/owl.carousel.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/httpVueLoader.js"></script>
    <script src="assets/js/vue-i18n.min.js"></script>
    <script src="assets/js/element-ui.js"></script>
    <script src="assets/js/main.js" type="module"></script>
  </body>
</html>