<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fu Tian Pay</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <link href="assets/lib/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
    <link href="assets/lib/fancybox/jquery.fancybox.min.css" rel="stylesheet">
    <link href="assets/lib/owl.carousel/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/element-ui.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-sparrow">
        <div class="container"><a class="navbar-brand" href="index.html"><img src="assets/img/Logo.png" alt="sparrow" height="40"></a>
          <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown1" aria-controls="navbarNavDropdown1" aria-expanded="false" aria-label="Toggle navigation">
            <div class="fancynavbar" type="button" data-toggle="collapse" data-target="#navbarNavDropdown1" aria-controls="navbarNavDropdown1" aria-expanded="false" aria-label="Toggle navigation">
              <div class="fancynavbar-togglerbar">
                <div class="fancynavbar-toggler">
                  <svg class="fancynavbar-toggler-icon" viewbox="0 0 70 70" xmlns="http://www.w3.org/2000/svg" data-zanim-lg="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;x&quot;:45},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;x&quot;:0},&quot;ease&quot;:&quot;CubicBezier&quot;,&quot;duration&quot;:0.8,&quot;delay&quot;:0.5}" data-zanim-trigger="scroll">
                    <path id="path-top" d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8"></path>
                    <path id="path-middle" d="M20,32h30"></path>
                    <path id="path-bottom" d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavDropdown1">
            <ul class="navbar-nav ml-auto d-lg-flex align-items-lg-center">
              <li class="nav-item"><a class="nav-link" href="index.html#top" data-zanim-timeline="{&quot;delay&quot;:1}" data-fancyscroll="data-fancyscroll" data-offset="70">{{ $t('Nav.Index'/*首頁*/) }}</a></li>
              <li class="nav-item dropdown DropdownForm"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ $t('Nav.Service'/*服務項目*/) }}</a>
                <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownMenuLink1">
                  <div class="d-flex flex-row text-center ServiceDropdown overflow-hidden-y">
                    <div class="dropdown-item">{{ $t('Nav.Country'/*服務國家*/) }}</div><a class="dropdown-item" href="serviceTw.html">{{ $t('Nav.Tw'/*台灣*/) }}</a><a class="dropdown-item" href="serviceCh.html">{{ $t('Nav.Ch'/*中國*/) }}</a><a class="dropdown-item" href="serviceTh.html">{{ $t('Nav.Th'/*泰國*/) }}</a><a class="dropdown-item" href="serviceVi.html">{{ $t('Nav.Vi'/*越南*/) }}</a><a class="dropdown-item" href="serviceUSDT.html">{{ $t('Nav.En'/*USDT*/) }}</a>
                  </div>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="news.html">{{ $t('Nav.News'/*最新消息*/) }}</a></li>
              <li class="nav-item"><a class="nav-link" href="shop.html">{{ $t('Nav.Shop'/*線上商店*/) }}</a></li>
              <li class="nav-item dropdown DropdownForm"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ $t('Nav.Member'/*會員中心*/) }}</a>
                <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownMenuLink2">
                  <div class="d-flex flex-row text-center MemberDropdown overflow-hidden-y"><a class="dropdown-item" href="member.html" v-on:click="goMember(&quot;information&quot;)">{{ $t('Nav.Information'/*會員資料*/) }}</a><a class="dropdown-item" href="member.html" v-on:click="goMember(&quot;order&quot;)">{{ $t('Nav.Order'/*訂單查詢*/) }}</a><a class="dropdown-item" href="cart.html">{{ $t('Nav.Cart'/*購物車*/) }}</a></div>
                </div>
              </li>
              <li class="nav-item d-lg-none d-block"><a class="nav-link" href="index.html#digital-contact" data-zanim-timeline="{&quot;delay&quot;:1}" data-fancyscroll="data-fancyscroll" data-offset="70">{{ $t('Nav.Contact'/*聯絡我們*/) }}</a></li>
              <div class="navLineOne d-none d-lg-block mx-3"></div>
              <div class="navLineTwo d-block d-lg-none my-3"></div>
              <li class="nav-item"><a class="nav-link" href="login.html">{{ $t('Nav.Login'/*登入*/) }}</a></li>
              <li class="nav-item dropdown DropdownForm"><a class="nav-link dropdown-toggle NavFlag" id="navbarDropdownMenuLink3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img :src="&quot;/assets/img/flag/&quot;+flag+&quot;.svg&quot;"></a>
                <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownMenuLink3">
                  <div class="d-flex flex-row flex-lg-column justify-content-between text-center FlagDropdown overflow-hidden-y"><a class="dropdown-item MenuFlag" @click="switchLanguage(&quot;zh-tw&quot;)"><img src="/assets/img/flag/zh-tw.svg"></a><a class="dropdown-item MenuFlag" @click="switchLanguage(&quot;zh-cn&quot;)"><img src="/assets/img/flag/zh-cn.svg"></a><a class="dropdown-item MenuFlag" @click="switchLanguage(&quot;en&quot;)"><img src="/assets/img/flag/en.svg"></a><a class="dropdown-item MenuFlag" @click="switchLanguage(&quot;th&quot;)"><img src="/assets/img/flag/th.svg"></a><a class="dropdown-item MenuFlag" @click="switchLanguage(&quot;vi&quot;)"><img src="/assets/img/flag/vi.svg"></a><a class="dropdown-item MenuFlag" @click="switchLanguage(&quot;ms&quot;)"><img src="/assets/img/flag/ms.svg"></a><a class="dropdown-item MenuFlag" @click="switchLanguage(&quot;in&quot;)"><img src="/assets/img/flag/in.svg"></a></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="Fixed" data-zanim-timeline="{&quot;delay&quot;:1}" data-zanim-trigger="scroll" data-fancyscroll="data-fancyscroll">
        <div class="FixedForm d-flex flex-column align-items-end" data-zanim-xs="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;y&quot;:30},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;y&quot;:-5,&quot;scale&quot;:1},&quot;ease&quot;:&quot;Back.easeOut&quot;,&quot;duration&quot;:0.4,&quot;delay&quot;:0.25}"><a class="FixedBtn" href="#top" data-fancyscroll="data-fancyscroll">
            <div class="FixedBackTop"><img src="assets/img/icon/IconArrow.svg"></div></a><a class="FixedBtn" href="cart.html">
            <el-badge class="CartBadge" :value="cartAmount &gt; 0 ? cartAmount : ''" :max="10">
              <div class="FixedCart"><img src="assets/img/icon/IconCart.svg"></div>
            </el-badge></a><a class="FixedBtn d-none d-lg-block" href="index.html#digital-contact" data-zanim-timeline="{&quot;delay&quot;:1}" data-fancyscroll="data-fancyscroll" data-offset="70">
            <div class="FixedContact">
              <div class="FixedContactCont">Contact</div>
            </div></a><a class="d-none" href="#digital-contact" data-zanim-timeline="{&quot;delay&quot;:1}" data-fancyscroll="data-fancyscroll" data-offset="70"></a><a class="FixedBtn" href="https://t.me/FTciwu1">
            <div class="FixedTelegram"><img src="assets/img/icon/IconTelegram.svg" target="_blank"></div></a><a class="FixedBtn" href="https://join.skype.com/invite/fEqsIfeCatRu?source=qr-ios" target="_blank">
            <div class="FixedSkype"><img src="assets/img/icon/IconSkype.svg"></div></a></div>
      </div>
      <main class="main min-vh-100" id="top">
        <div class="preloader" id="preloader">
          <div class="loader">
            <div class="line-scale-pulse-out-rapid">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <section class="py-0 overflow-hidden" id="page-banner">
          <div class="bg-holder" data-zanim-xs="{&quot;delay&quot;:0.4,&quot;animation&quot;:&quot;zoom-out&quot;}" data-zanim-trigger="scroll" style="background-image:url(assets/img/pageBanner/PageBannerFive.jpg);"></div>
          <div class="container">
            <div class="row">
              <div class="col-9 pt-9 pb-7">
                <div class="media">
                  <div class="media-body pl-3">
                    <div class="overflow-hidden">
                      <h2 class="fs-2 fs-lg-4 text-white display-4 display-lg-4 pb-2" data-zanim-xs="{&quot;delay&quot;:0.6}" data-zanim-trigger="scroll">{{ $t('PageBannerFive.MainTitle'/*24小時專人在線*/) }}</h2>
                    </div>
                    <div class="overflow-hidden">
                      <h5 class="ls-1 text-white text-uppercase mb-0" data-zanim-xs="{&quot;delay&quot;:0.8}" data-zanim-trigger="scroll">{{ $t('PageBannerFive.Subheading'/*全年無休、疑難排解、技術支援、系統教學*/) }}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="py-lg-5 Member overflow-hidden" id="page-member">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-lg-7 TitleFormB">
                <h2 class="Title">{{ $t('Member.Title'/*MEMBER*/) }}</h2>
                <div class="MainTitle">{{ $t('Member.MainTitle'/*會員中心*/) }}</div>
              </div>
            </div>
            <div class="row py-3">
              <div class="col-12">
                <el-tabs class="MemberTab" v-model="activeName" @tab-click="tabHandleClick" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <el-tab-pane :label="$t('Member.Information'/*會員資料*/)" name="information" data-rellax-speed="1" data-zanim-xs="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;y&quot;:-150,&quot;scale&quot;:1},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;y&quot;:0,&quot;scale&quot;:1},&quot;ease&quot;:&quot;Back.easeOut&quot;,&quot;duration&quot;:1,&quot;delay&quot;:1}">
                    <div class="row pt-4">
                      <div class="col-lg-6 pb-5">
                        <div class="MemberDetail text-left">
                          <div class="MemberInfo">
                            <div class="MemberTitle">{{ $t('Member.Company'/*公司名稱：*/) }}</div>
                            <div class="MemberCont">Fu Tain Pay</div>
                          </div>
                        </div>
                        <div class="MemberDetail text-left">
                          <div class="MemberInfo">
                            <div class="MemberTitle">{{ $t('Member.Account'/*會員帳號：*/) }}</div>
                            <div class="MemberCont">Fu Tain Pay Account</div>
                          </div>
                        </div>
                        <div class="MemberDetail text-left">
                          <div class="MemberInfo">
                            <div class="MemberTitle">{{ $t('Member.RealName'/*真實姓名：*/) }}</div>
                            <div class="MemberCont">福鈿聚合</div>
                          </div>
                        </div>
                        <div class="MemberDetail text-left d-flex flex-row justify-content-between align-items-center">
                          <div class="MemberInfo">
                            <div class="MemberTitle">{{ $t('Member.Password'/*密碼：*/) }}</div>
                            <div class="MemberCont">********</div>
                          </div>
                          <el-button class="BtnBlue" type="button" data-toggle="modal" data-target="#passwordModal">{{ $t('Btn.Modify'/*修改*/) }}</el-button>
                        </div>
                        <div class="MemberDetail text-left d-flex flex-row justify-content-between align-items-center">
                          <div class="MemberInfo">
                            <div class="MemberTitle">{{ $t('Member.Phone'/*手機號碼：*/) }}</div>
                            <div class="MemberCont">0987654321</div>
                          </div>
                          <el-button class="BtnBlue" type="button" data-toggle="modal" data-target="#phoneModal">{{ $t('Btn.Modify'/*修改*/) }}</el-button>
                        </div>
                        <div class="MemberDetail text-left d-flex flex-row justify-content-between align-items-center">
                          <div class="MemberInfo">
                            <div class="MemberTitle">{{ $t('Member.Email'/*電子信箱：*/) }}</div>
                            <div class="MemberCont">futainpay@futainpay.com</div>
                          </div>
                          <el-button class="BtnBlue" type="button" data-toggle="modal" data-target="#emailModal">{{ $t('Btn.Modify'/*修改*/) }}</el-button>
                        </div>
                        <div class="MemberDetail text-left d-flex flex-row justify-content-between align-items-center">
                          <div class="MemberInfo">
                            <div class="MemberTitle">{{ $t('Member.Address'/*地址：*/) }}</div>
                            <div class="MemberCont">Taipei</div>
                          </div>
                          <el-button class="BtnBlue" type="button" data-toggle="modal" data-target="#addressModal">{{ $t('Btn.Modify'/*修改*/) }}</el-button>
                        </div>
                        <div class="MemberDetail text-left d-flex flex-row justify-content-between align-items-center">
                          <div class="MemberInfo">
                            <div class="MemberTitle">{{ $t('Member.Skype'/*Skype：*/) }}</div>
                            <div class="MemberCont">futainpay@futainpay.com</div>
                          </div>
                          <el-button class="BtnBlue" type="button" data-toggle="modal" data-target="#skypeModal">{{ $t('Btn.Modify'/*修改*/) }}</el-button>
                        </div>
                        <div class="MemberDetail text-left d-flex flex-row justify-content-between align-items-center">
                          <div class="MemberInfo">
                            <div class="MemberTitle">{{ $t('Member.Telegram'/*Telegram：*/) }}</div>
                            <div class="MemberCont">0987654321</div>
                          </div>
                          <el-button class="BtnBlue" type="button" data-toggle="modal" data-target="#telegramModal">{{ $t('Btn.Modify'/*修改*/) }}</el-button>
                        </div>
                      </div>
                      <div class="col-lg-6 px-0">
                        <div class="sticky-top vh-lg-100 py-9">
                          <div class="bg-holder" style="background-image:url(assets/img/banner/MemberBanner.jpg);"></div>
                        </div>
                      </div>
                    </div>
                  </el-tab-pane>
                  <div class="modal fade fade-in" id="passwordModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header"><span>{{ $t('Member.EditPassword'/*修改密碼*/) }}</span>
                          <el-button type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close"></el-button>
                        </div>
                        <div class="modal-body">
                          <el-form class="MemberForm text-center px-4">
                            <el-form-item :label="$t('Member.LabelOldPassword'/*舊密碼：*/)">
                              <el-input type="password" v-model="memberForm.OldPassword" :placeholder="$t('Member.InputPassword'/*請輸入密碼*/)"></el-input>
                            </el-form-item>
                            <el-form-item :label="$t('Member.LabelPassword'/*新密碼：*/)">
                              <el-input type="password" v-model="memberForm.Password" :placeholder="$t('Member.InputPassword'/*請輸入密碼*/)"></el-input>
                            </el-form-item>
                            <el-form-item :label="$t('Member.LabelCheckPassword'/*確認密碼：*/)">
                              <el-input type="password" v-model="memberForm.CheckPassword" :placeholder="$t('Member.InputCheckPassword'/*請再次輸入密碼*/)"></el-input>
                            </el-form-item>
                          </el-form>
                        </div>
                        <div class="modal-footer">
                          <el-button class="BtnBlue" type="button" data-dismiss="modal">{{ $t('Btn.Cancel'/*取消*/) }}</el-button>
                          <el-button class="BtnRed" type="submit">{{ $t('Btn.Submit'/*送出*/) }}</el-button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade fade-in" id="phoneModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header"><span>{{ $t('Member.EditPhone'/*修改手機*/) }}</span>
                          <el-button type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close"></el-button>
                        </div>
                        <div class="modal-body">
                          <el-form class="MemberForm text-center px-4">
                            <el-form-item :label="$t('Member.LabelPhone'/*手機號碼：*/)">
                              <el-input type="tel" v-model="memberForm.Phone" :placeholder="$t('Member.InputPhone'/*請輸入正確手機號碼*/)"></el-input>
                            </el-form-item>
                          </el-form>
                        </div>
                        <div class="modal-footer">
                          <el-button class="BtnBlue" type="button" data-dismiss="modal">{{ $t('Btn.Cancel'/*取消*/) }}</el-button>
                          <el-button class="BtnRed" type="submit">{{ $t('Btn.Submit'/*送出*/) }}</el-button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade fade-in" id="emailModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header"><span>{{ $t('Member.EditEmail'/*修改信箱*/) }}</span>
                          <el-button type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close"></el-button>
                        </div>
                        <div class="modal-body">
                          <el-form class="MemberForm text-center px-4">
                            <el-form-item :label="$t('Member.LabelEmail'/*電子信箱：*/)">
                              <el-input type="email" v-model="memberForm.Email" :placeholder="$t('Member.InputEmail'/*請輸入E-mail*/)"></el-input>
                            </el-form-item>
                          </el-form>
                        </div>
                        <div class="modal-footer">
                          <el-button class="BtnBlue" type="button" data-dismiss="modal">{{ $t('Btn.Cancel'/*取消*/) }}</el-button>
                          <el-button class="BtnRed" type="submit">{{ $t('Btn.Submit'/*送出*/) }}</el-button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade fade-in" id="addressModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header"><span>{{ $t('Member.EditAddress'/*修改地址*/) }}</span>
                          <el-button type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close"></el-button>
                        </div>
                        <div class="modal-body">
                          <el-form class="MemberForm text-center px-4">
                            <el-form-item :label="$t('Member.LabelAddress'/*地址：*/)">
                              <el-input type="email" v-model="memberForm.Address" :placeholder="$t('Member.InputAddress'/*請輸入正確地址*/)"></el-input>
                            </el-form-item>
                          </el-form>
                        </div>
                        <div class="modal-footer">
                          <el-button class="BtnBlue" type="button" data-dismiss="modal">{{ $t('Btn.Cancel'/*取消*/) }}</el-button>
                          <el-button class="BtnRed" type="submit">{{ $t('Btn.Submit'/*送出*/) }}</el-button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade fade-in" id="skypeModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header"><span>{{ $t('Member.EditSkype'/*修改Skype*/) }}</span>
                          <el-button type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close"></el-button>
                        </div>
                        <div class="modal-body">
                          <el-form class="MemberForm text-center px-4">
                            <el-form-item :label="$t('Member.LabelSkype'/*Skype：*/)">
                              <el-input type="email" v-model="memberForm.Skype" :placeholder="$t('Member.InputSkype'/*請輸入Skype*/)"></el-input>
                            </el-form-item>
                          </el-form>
                        </div>
                        <div class="modal-footer">
                          <el-button class="BtnBlue" type="button" data-dismiss="modal">{{ $t('Btn.Cancel'/*取消*/) }}</el-button>
                          <el-button class="BtnRed" type="submit">{{ $t('Btn.Submit'/*送出*/) }}</el-button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade fade-in" id="telegramModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header"><span>{{ $t('Member.EditTelegram'/*修改Telegram*/) }}</span>
                          <el-button type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close"></el-button>
                        </div>
                        <div class="modal-body">
                          <el-form class="MemberForm text-center px-4">
                            <el-form-item :label="$t('Member.LabelTelegram'/*Telegram：*/)">
                              <el-input type="email" v-model="memberForm.Telegram" :placeholder="$t('Member.InputTelegram'/*請輸入Telegram*/)"></el-input>
                            </el-form-item>
                          </el-form>
                        </div>
                        <div class="modal-footer">
                          <el-button class="BtnBlue" type="button" data-dismiss="modal">{{ $t('Btn.Cancel'/*取消*/) }}</el-button>
                          <el-button class="BtnRed" type="submit">{{ $t('Btn.Submit'/*送出*/) }}</el-button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <el-tab-pane :label="$t('Member.Order'/*訂單查詢*/)" name="order" data-rellax-speed="1" data-zanim-xs="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;y&quot;:-150,&quot;scale&quot;:1},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;y&quot;:0,&quot;scale&quot;:1},&quot;ease&quot;:&quot;Back.easeOut&quot;,&quot;duration&quot;:1,&quot;delay&quot;:1}">
                    <div class="row justify-content-center justify-content-lg-between pt-4">
                      <div class="col-lg-auto text-lg-left text-center">
                        <el-form class="SearchForm d-flex flex-column flex-lg-row">
                          <el-form-item class="mr-lg-3 mr-0" label="">
                            <el-select v-model="orderSelect" :placeholder="$t('Member.OptionOne'/*请选择*/)" clearable>
                              <el-option value="1" :label="$t('Member.OptionTwo'/*訂單編號*/)"></el-option>
                              <el-option value="2" :label="$t('Member.OptionThree'/*配送方式*/)"></el-option>
                              <el-option value="3" :label="$t('Member.OptionFour'/*是否付款*/)"></el-option>
                            </el-select>
                          </el-form-item>
                          <el-form-item label="">
                            <el-input v-model="orderSearch" :placeholder="$t('Member.InputOrderSearch'/*请输入内容*/)" clearable>
                              <el-button slot="append" icon="el-icon-search" @click=""></el-button>
                            </el-input>
                          </el-form-item>
                        </el-form>
                      </div>
                      <div class="col-lg-6 text-lg-right text-center">
                        <el-pagination class="Pagination OrderPagination" @current-change="handleCurrentChange" :page-size="pageSize" :pager-count="pagerCount" :total="total" :current-page.sync="curretPage" layout="prev, pager, next" background></el-pagination>
                      </div>
                    </div>
                    <div class="row pt-4 pb-4 pb-lg-5 d-lg-block d-none">
                      <div class="col-12">
                        <div class="row OrderListItem d-flex flex-row py-3">
                          <div class="col-2 text-center">
                            <div class="OrderListItemName">{{ $t('Member.OrderNo'/*訂單編號*/) }}</div>
                          </div>
                          <div class="col-2 text-center">
                            <div class="OrderListItemName">{{ $t('Member.OrderDate'/*訂單日期*/) }}</div>
                          </div>
                          <div class="col-2 text-center">
                            <div class="OrderListItemName">{{ $t('Member.OrderAmount'/*訂單金額*/) }}</div>
                          </div>
                          <div class="col-2 text-center">
                            <div class="OrderListItemName">{{ $t('Member.DeliveryMode'/*配送方式*/) }}</div>
                          </div>
                          <div class="col-2 text-center">
                            <div class="OrderListItemName">{{ $t('Member.Payment'/*是否付款*/) }}</div>
                          </div>
                          <div class="col-2 text-center">
                            <div class="OrderListItemName">{{ $t('Member.Commodity'/*購買商品*/) }}</div>
                          </div>
                        </div>
                        <div class="row OrderList d-flex flex-row justify-content-center align-items-center py-3 text-center">
                          <div class="col-2">2020111501</div>
                          <div class="col-2">2020/11/15</div>
                          <div class="col-2">
                            <h6 class="fs-0 font-weight-normal mb-0 TextR">$200.00</h6>
                          </div>
                          <div class="col-2">全家店到店</div>
                          <div class="col-2 text-success">已付款</div>
                          <div class="col-2">
                            <el-button class="BtnBlue" type="button" data-toggle="modal" data-target="#DetailModal1">{{ $t('Btn.View'/*查看*/) }}</el-button>
                          </div>
                        </div>
                        <div class="row OrderList d-flex flex-row justify-content-center align-items-center py-3 text-center">
                          <div class="col-2">2020111401</div>
                          <div class="col-2">2020/11/14</div>
                          <div class="col-2">
                            <h6 class="fs-0 font-weight-normal mb-0 TextR">$1500.00</h6>
                          </div>
                          <div class="col-2"> </div>
                          <div class="col-2 text-warning">待付款</div>
                          <div class="col-2">
                            <el-button class="BtnBlue" type="button" data-toggle="modal" data-target="#DetailModal2">{{ $t('Btn.View'/*查看*/) }}</el-button>
                          </div>
                        </div>
                        <div class="row OrderList d-flex flex-row justify-content-center align-items-center py-3 text-center">
                          <div class="col-2">2020111101</div>
                          <div class="col-2">2020/11/11</div>
                          <div class="col-2">
                            <h6 class="fs-0 font-weight-normal mb-0 TextR">$2500.00</h6>
                          </div>
                          <div class="col-2">7-11店到店</div>
                          <div class="col-2 text-danger">已取消</div>
                          <div class="col-2">
                            <el-button class="BtnBlue" type="button" data-toggle="modal" data-target="#DetailModal3">{{ $t('Btn.View'/*查看*/) }}</el-button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row pt-4 pb-4 pb-lg-5 d-lg-none">
                      <div class="col-12">
                        <div class="row OrderList d-flex flex-column justify-content-center align-items-center py-3 text-center">
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="OrderListTitle text-right">{{ $t('Member.OrderNo'/*訂單編號*/) }}：</div><span>2020111501</span>
                          </div>
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="OrderListTitle text-right">{{ $t('Member.OrderDate'/*訂單日期*/) }}：</div><span>2020/11/15</span>
                          </div>
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="OrderListTitle text-right">{{ $t('Member.OrderAmount'/*訂單金額*/) }}： </div>
                            <h6 class="fs-0 font-weight-normal mb-0 TextR">$200.00</h6>
                          </div>
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="OrderListTitle text-right">{{ $t('Member.DeliveryMode'/*配送方式*/) }}：</div><span>全家店到店</span>
                          </div>
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="OrderListTitle text-right">{{ $t('Member.Payment'/*是否付款*/) }}：</div><span class="text-success">已付款</span>
                          </div>
                          <div class="col-12 pt-3">
                            <el-button class="BtnBlue" type="button" data-toggle="modal" data-target="#DetailModal1">{{ $t('Btn.View'/*查看*/) }}</el-button>
                          </div>
                        </div>
                        <div class="row OrderList d-flex flex-column justify-content-center align-items-center py-3 text-center">
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="OrderListTitle text-right">{{ $t('Member.OrderNo'/*訂單編號*/) }}：</div><span>2020111401</span>
                          </div>
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="OrderListTitle text-right">{{ $t('Member.OrderDate'/*訂單日期*/) }}：</div><span>2020/11/14</span>
                          </div>
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="OrderListTitle text-right">{{ $t('Member.OrderAmount'/*訂單金額*/) }}： </div>
                            <h6 class="fs-0 font-weight-normal mb-0 TextR">$1500.00</h6>
                          </div>
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="OrderListTitle text-right">{{ $t('Member.DeliveryMode'/*配送方式*/) }}：</div><span> </span>
                          </div>
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="OrderListTitle text-right">{{ $t('Member.Payment'/*是否付款*/) }}：</div><span class="text-warning">待付款</span>
                          </div>
                          <div class="col-12 pt-3">
                            <el-button class="BtnBlue" type="button" data-toggle="modal" data-target="#DetailModal2">{{ $t('Btn.View'/*查看*/) }}</el-button>
                          </div>
                        </div>
                        <div class="row OrderList d-flex flex-column justify-content-center align-items-center py-3 text-center">
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="OrderListTitle text-right">{{ $t('Member.OrderNo'/*訂單編號*/) }}：</div><span>2020111101</span>
                          </div>
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="OrderListTitle text-right">{{ $t('Member.OrderDate'/*訂單日期*/) }}：</div><span>2020/11/11</span>
                          </div>
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="OrderListTitle text-right">{{ $t('Member.OrderAmount'/*訂單金額*/) }}： </div>
                            <h6 class="fs-0 font-weight-normal mb-0 TextR">$2500.00</h6>
                          </div>
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="OrderListTitle text-right">{{ $t('Member.DeliveryMode'/*配送方式*/) }}：</div><span>7-11店到店</span>
                          </div>
                          <div class="col-12 d-flex flex-row align-items-center py-1">
                            <div class="OrderListTitle text-right">{{ $t('Member.Payment'/*是否付款*/) }}：</div><span class="text-danger">已取消</span>
                          </div>
                          <div class="col-12 pt-3">
                            <el-button class="BtnBlue" type="button" data-toggle="modal" data-target="#DetailModal3">{{ $t('Btn.View'/*查看*/) }}</el-button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center text-center">
                      <div class="col-12 justify-content-center text-lg-right text-center">
                        <el-pagination class="Pagination" @current-change="handleCurrentChange" :page-size="pageSize" :pager-count="pagerCount" :total="total" :current-page.sync="curretPage" layout="prev, pager, next" background></el-pagination>
                      </div>
                    </div>
                  </el-tab-pane>
                  <div class="modal fade fade-in" id="DetailModal1" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header"><span>{{ $t('Member.CommodityDetail'/*商品詳情*/) }}</span>
                          <el-button type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close"></el-button>
                        </div>
                        <div class="modal-body">
                          <div class="ShopCont d-flex flex-column justify-content-center align-items-center">
                            <div class="ShopImg overflow-hidden d-flex justify-content-center align-items-center"><img class="h-lg-100 w-lg-auto h-100" src="assets/img/shopImg/01.png" alt="" data-zanim-xs="{&quot;delay&quot;:0.1,&quot;animation&quot;:&quot;zoom-in&quot;}"></div>
                            <div class="overflow-hidden d-flex flex-column align-items-center text-center px-3">
                              <div class="ShopName" data-zanim-xs="{&quot;delay&quot;:0.2}">DemoProduct01</div>
                              <div class="ShopAmount d-flex flex-row justify-content-center align-items-center" data-zanim-xs="{&quot;delay&quot;:0.3}">
                                <del class="Rebate">$499.00</del>
                                <div class="NewAmount">$200.00</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <el-button class="BtnBlue" type="button" data-dismiss="modal">{{ $t('Btn.Close'/*關閉*/) }}</el-button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade fade-in" id="DetailModal2" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header"><span>{{ $t('Member.CommodityDetail'/*商品詳情*/) }}</span>
                          <el-button type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close"></el-button>
                        </div>
                        <div class="modal-body">
                          <div class="ShopCont d-flex flex-column justify-content-center align-items-center">
                            <div class="ShopImg overflow-hidden d-flex justify-content-center align-items-center"><img class="h-lg-100 w-lg-auto h-100" src="assets/img/shopImg/02.png" alt="" data-zanim-xs="{&quot;delay&quot;:0.1,&quot;animation&quot;:&quot;zoom-in&quot;}"></div>
                            <div class="overflow-hidden d-flex flex-column align-items-center text-center px-3">
                              <div class="ShopName" data-zanim-xs="{&quot;delay&quot;:0.2}">DemoProduct02</div>
                              <div class="ShopAmount d-flex flex-row justify-content-center align-items-center" data-zanim-xs="{&quot;delay&quot;:0.3}">
                                <del class="Rebate">$2499.00</del>
                                <div class="NewAmount">$1500.00</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <el-button class="BtnBlue" type="button" data-dismiss="modal">{{ $t('Btn.Close'/*關閉*/) }}</el-button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade fade-in" id="DetailModal3" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header"><span>{{ $t('Member.CommodityDetail'/*商品詳情*/) }}</span>
                          <el-button type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close"></el-button>
                        </div>
                        <div class="modal-body">
                          <div class="ShopCont d-flex flex-column justify-content-center align-items-center">
                            <div class="ShopImg overflow-hidden d-flex justify-content-center align-items-center"><img class="h-lg-100 w-lg-auto h-100" src="assets/img/shopImg/03.png" alt="" data-zanim-xs="{&quot;delay&quot;:0.1,&quot;animation&quot;:&quot;zoom-in&quot;}"></div>
                            <div class="overflow-hidden d-flex flex-column align-items-center text-center px-3">
                              <div class="ShopName" data-zanim-xs="{&quot;delay&quot;:0.2}">DemoProduct03</div>
                              <div class="ShopAmount d-flex flex-row justify-content-center align-items-center" data-zanim-xs="{&quot;delay&quot;:0.3}">
                                <del class="Rebate">$5499.00</del>
                                <div class="NewAmount">$2500.00</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <el-button class="BtnBlue" type="button" data-dismiss="modal">{{ $t('Btn.Close'/*關閉*/) }}</el-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </el-tabs>
              </div>
            </div>
          </div>
        </section>
        <section class="text-center text-sans-serif Company" id="digital-socials">
          <div class="container">
            <div class="row d-flex flex-row justify-content-center align-items-center">
              <div class="CompanyCont col-md-6 col-lg-4 d-flex flex-row justify-content-center justify-content-lg-end align-items-center text-md-center"><img src="assets/img/icon/IconPhone.svg"><a class="CompanyInfo pl-2" href="tel:+1234567-891">+1 (234) 567-891</a></div>
              <div class="CompanyLine mx-2 d-lg-block d-none"></div>
              <div class="CompanyCont col-md-6 col-lg-4 d-flex flex-row justify-content-center justify-content-lg-start align-items-center text-md-center"><img src="assets/img/icon/IconEmail.svg"><a class="CompanyInfo pl-2" href="mailto:futian@futian.com">futian@futian.com</a></div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer text-center overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <p class="fs--1 text-uppercase ls font-weight-bold mb-0">Copyright © 2020 All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/lib/loaders.css/loaders.css.js"></script>
    <script src="assets/js/stickyfill.min.js"></script>
    <script src="assets/lib/is_js/is.min.js"></script>
    <script src="assets/lib/jtap/jquery.tap.js"></script>
    <script src="assets/js/rellax.min.js"></script>
    <script src="assets/lib/fancybox/jquery.fancybox.min.js"></script>
    <script src="assets/lib/owl.carousel/owl.carousel.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/httpVueLoader.js"></script>
    <script src="assets/js/vue-i18n.min.js"></script>
    <script src="assets/js/element-ui.js"></script>
    <script src="assets/js/main.js" type="module"></script>
  </body>
</html>