body {
  margin: 0;
  height: 100%
}

html {
width: 100%;
height: 100%;
}
.loading_body {
  background: linear-gradient(351deg, rgba(243,50,117,1), rgba(223,7,133,1));
  /* background: linear-gradient(351deg, rgba(169, 231, 241, 1), rgba(0, 158, 191, 1)); */
  width: 100%;
  height: 100%;
}
.loading_body .wo, html .wo {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.loading_body .wo .loading-wrapper .loader, html .wo .loading-wrapper .loader {
  display: block;
  height: 30px;
  width: 5px;
  background: #ffffff;
  float: left;
  border-radius: 100px;
  margin-right: 20px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: scale 1700ms ease-in-out;
          animation: scale 1700ms ease-in-out;
  animatiom-delay: 1000ms;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.loading_body .wo .loading-wrapper .one, html .wo .loading-wrapper .one {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.loading_body .wo .loading-wrapper .two, html .wo .loading-wrapper .two {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.loading_body .wo .loading-wrapper .three, html .wo .loading-wrapper .three {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.loading_body .wo .loading-wrapper .four, html .wo .loading-wrapper .four {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.loading_body .wo .loading-wrapper .five, html .wo .loading-wrapper .five {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.loading_body .wo .loading-wrapper .six, html .wo .loading-wrapper .six {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.loading_body .wo .loading-wrapper .seven, html .wo .loading-wrapper .seven {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
.loading_body .wo .loading-wrapper .eight, html .wo .loading-wrapper .eight {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.loading_body .wo .loading-wrapper .nine, html .wo .loading-wrapper .nine {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.loading_body .wo .loading-wrapper .ten, html .wo .loading-wrapper .ten {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(2.1);
            transform: scale(2.1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(2.1);
            transform: scale(2.1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
