@font-face {
  font-family: icomoon;
  src: url(fonts/icomoon.woff) format('woff'), url(fonts/icomoon.ttf) format('truetype');
  font-weight: 400;
  font-display: "auto";
  font-style: normal;
}

[class*=" icon-"],
[class^="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-IconBankcards:before {
  content: "\e900";
  /* color: #867181; */
}
.icon-IconBulletin:before {
  content: "\e901";
  /* color: #867181; */
}
.icon-IconHelp:before {
  content: "\e902";
  /* color: #867181; */
}
.icon-IconList:before {
  content: "\e903";
  /* color: #867181; */
}
.icon-IconMoneyList:before {
  content: "\e904";
  /* color: #867181; */
}
.icon-IconPersonalInfo:before {
  content: "\e905";
  /* color: #867181; */
}
.icon-IconWallet:before {
  content: "\e906";
  /* color: #867181; */
}
.icon-IconDiscount:before {
  content: "\e907";
  /* color: #d4bdca; */
}
.icon-IconLetters:before {
  content: "\e908";
  /* color: #d4bdca; */
}
.icon-IconLogin:before {
  content: "\e909";
  color: #df0785;
}
.icon-IconLogout:before {
  content: "\e90a";
  /* color: #d4bdca; */
}
.icon-IconMembers:before {
  content: "\e90b";
  /* color: #d4bdca; */
}
.icon-IconMenu:before {
  content: "\e90c";
  color: #df0785;
}
.icon-IconMoney:before {
  content: "\e90d";
  /* color: #d4bdca; */
}
.icon-IconPersonal:before {
  content: "\e90e";
  /* color: #d4bdca; */
}
.icon-IconPresent:before {
  content: "\e90f";
  /* color: #d4bdca; */
}
