@charset "UTF-8";
/*-- Scss Document --*/

html, body {
  width: 100%;
  height: 100%;
  font-family: "PingFangTC", "微軟正黑體", Arial, Helvetica, sans-serif !important;
}

section {
  padding: 50px 0;
}

input, textarea, select {
  &::-webkit-input-placeholder {
    color: rgba(141,141,141,1) !important;
  };
  &::-moz-placeholder {
    color: rgba(141,141,141,1) !important;
  };
  &:-moz-placeholder {
    color: rgba(141,141,141,1) !important;
  };
  &:-ms-input-placeholder {
    color: rgba(141,141,141,1) !important;
  };
}

.TextR {
  color: rgba(216,67,35,1);
};

.BtnRed, .BtnOrange, .BtnBlue {
  min-width: 120px;
  padding: 10px !important;
  border: unset !important;
  line-height: 20px !important;
  &:hover, &:active, &:focus {
    outline: unset !important;
  };
}
.BtnRed {
  background: rgba(216,67,35,1) !important;
  color: rgba(255,255,255,1) !important;
  &:hover {
    background: rgba(217,93,65,1) !important;
  };
}
.BtnOrange {
  background: rgba(240,157,16,1) !important;
  color: rgba(255,255,255,1) !important;
  &:hover {
    background: rgba(253,181,55,1) !important;
  };
}
.BtnBlue {
  background: rgba(33,155,217,1) !important;
  color: rgba(255,255,255,1) !important;
  &:hover {
    background: rgba(65,166,217,1) !important;
  };
}

.Pagination.is-background {
  .el-pager {
    li:hover {
      color: rgba(216,67,35,1) !important;
    };
    li:not(.disabled).active {
      background: rgba(216,67,35,1) !important;
      &:hover {
        color: rgba(255,255,255,1) !important;
      };
    };
  };
}

.TitleFormW, .TitleFormB {
  padding-bottom: 20px;
  .Title {
    padding: 0 0 25px;
    background: linear-gradient(90deg, rgba(240, 50, 100, 1), rgba(240, 50, 100, 1)) 50% 100% no-repeat;
    background-size: 70px 1px;
    word-break: break-word;
  };
  .MainTitle {
    padding: 5px 0 0;
    word-break: break-word;
  };
}
.TitleFormW {
  .Title {
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
  };
  .MainTitle {
    color: rgba(214, 214, 214, 1);
    font-size: 18px;
    font-weight: 600;
  };
}
.TitleFormB {
  .Title {
    color: rgba(32, 32, 32, 1);
    font-size: 32px;
  };
  .MainTitle {
    color: rgba(90, 90, 90, 1);
    font-size: 18px;
    font-weight: 600;
  };
}

.navbar {
  padding: 10px 15px;
  font-size: 15px;
  z-index: 1500;
  .navbar-brand {
    width: 70%;
    max-width: 240px;
    padding: 5px;
    font-size: unset;
    img {
      width: 100%;
    };
  };
  .nav-item {
    .nav-link:hover {
      // background: rgba(216,67,35,1);
      // color: rgba(253,211,55,1);
      color: rgba(240, 50, 100, 1);
    };
  };
  .navbar-toggler {
    max-width: 50px;
    padding: unset;
    border-color: rgba(255,255,255,0.5);
    border-radius: 4px;
    .fancynavbar {
      position: unset;
      .fancynavbar-togglerbar {
        height: 30px;
        .fancynavbar-toggler {
          width: 50px;
          height: 50px;
          .fancynavbar-toggler-icon {
            path {
              stroke: rgba(255,255,255,0.75);
            };
          };
        };
      };
    };
  };
  .navbar-collapse {
    max-width: 100%;
  };
  .navLineOne {
    width: 1px;
    height: 10px;
    background: rgba(255,255,255,0.25);
  };
  .navLineTwo {
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.25);
  };
  .NavFlag {
    img {
      // width: 30px;
      height: 15px;
    };
  };
  .MenuFlag {
    img {
      // width: 30px;
      height: 15px;
    };
  };
  .DropdownForm {
    .dropdown-menu {
      min-width: unset;
      margin: unset;
      padding: unset;
      background: rgba(35, 35, 35, 1);
      border: unset;
      .dropdown-item {
        padding: 15px 15px;
        color: rgba(214,214,214,1);
        background: linear-gradient(0deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5)) 100% 50% no-repeat;
        background-size: 1px 10px;
        cursor: pointer;
        &:hover, &:focus {
          // color: rgba(253,211,55,1);
          color: rgba(240, 50, 100, 1);
        };
      };
    };
    .LanguageDropdown {
      left: unset;
      right: 0;
    };
  };
  .ServiceDropdown {
    .dropdown-item {
      &:last-child {
        background: unset;
      };
    };
  };
  .MemberDropdown {
    .dropdown-item {
      &:last-child {
        background: unset;
      };
    };
  };
  .FlagDropdown {
    .dropdown-item {
      &:last-child {
        background: unset;
      };
    };
  };
}
.bg-black {
  background: rgba(35, 35, 35, 1) !important;
};

.Fixed {
  position: fixed;
  bottom: 30px;
  right: 0;
  z-index: 1200;
  .FixedForm {
    .FixedBtn {
      margin: 0 0 10px 0;
      padding: 0;
      color: rgba(255,255,255,1);
      &:last-child {
        margin: unset;
      };
      .FixedBackTop, .FixedCart, .FixedContact, .FixedTelegram, .FixedSkype {
        width: 40px;
        border-radius: 4px 0 0 4px;
        cursor: pointer;
        .FixedContactCont {
          opacity: 1;
        };
        img {
          width: 30px;
          opacity: 1;
        };
        &:hover {
          width: 50px;
          transition: all 0.3s;
          .FixedContactCont {
            opacity: 1;
          };
          img {
            opacity: 1;
          };
        };
        &:active, &:focus {
          width: 40px;
        };
      };
      .FixedBackTop, .FixedCart, .FixedTelegram, .FixedSkype {
        height: 40px;
        padding: 5px;
      };
      .FixedBackTop {
        background: linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0)) 100% 50% no-repeat, rgba(240,185,20,1);
        background-size: 5px 100%, 100%;
        &:hover {
          background: linear-gradient(0deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5)) 100% 50% no-repeat, rgba(240,185,20,1);
          background-size: 5px 100%, 100%;
        };
      };
      .FixedTelegram {
        background: linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0)) 100% 50% no-repeat, rgba(35,161,228,1);
        background-size: 5px 100%, 100%;
        &:hover {
          background: linear-gradient(0deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5)) 100% 50% no-repeat, rgba(35,161,228,1);
          background-size: 5px 100%, 100%;
        };
      };
      .FixedSkype {
        background: linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0)) 100% 50% no-repeat, rgba(0,171,242,1);
        background-size: 5px 100%, 100%;
        &:hover {
          background: linear-gradient(0deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5)) 100% 50% no-repeat, rgba(0,171,242,1);
          background-size: 5px 100%, 100%;
        };
      };
      .FixedCart {
        background: linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0)) 100% 50% no-repeat, rgba(240,185,20,1);
        background-size: 5px 100%, 100%;
        &:hover {
          background: linear-gradient(0deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5)) 100% 50% no-repeat, rgba(240,185,20,1);
          background-size: 5px 100%, 100%;
        };
      };
      .FixedContact {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        background: linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0)) 100% 50% no-repeat, rgba(240, 50, 100, 1);
        background-size: 5px 100%, 100%;
        &:hover {
          background: linear-gradient(0deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5)) 100% 50% no-repeat, rgba(240, 50, 100, 1);
          background-size: 5px 100%, 100%;
        };
      };
      .FixedContact {
        .FixedContactCont {
          font-weight: 600;
          transform:rotate(-90deg);
          -moz-transform:rotate(-90deg);
          -webkit-transform:rotate(-90deg);
        };
      };
    };
  };
  .CartBadge {
    .el-badge__content.is-fixed {
      -webkit-transform: unset;
      transform: unset;
      top: -5px;
      left: -5px;
      right: unset;
    }
  };
}
@media screen and (max-width: 425px) {
  .Fixed {
    top: unset;
    bottom: 30px;
  };
}

.IndexBanner {
  .IndexBannerContent {
    z-index: 3;
    .Title {
      font-size: 52px;
    };
    .MainTitle {
      border-bottom: 1px solid rgba(255,255,255,1);
    };
    .MainTitleOne {
      padding: 5px 0;
      font-size: 32px;
    };
    .MainTitleTwo {
      padding: 5px 0;
      font-size: 24px;
    };
    .Subheading {
      font-size: 18px;
      font-weight: 600;
    };
    .Title, .MainTitleOne, .MainTitleTwo, .Subheading {
      color: rgba(255,255,255,1);
    };
    .indicator {
      width: 40px;
      height: 40px;
      .IndicatorDown {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          opacity: 0.75;
          transition: all 0.3s;
          &:hover {
            opacity: 1;
          };
        };
      };
    };
  };
  .AnimateBg {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    .BgR {
      width: 600px;
      margin-right: 60px;
      position: absolute;
      z-index: 2;
      top: 35%;
      img {
        opacity: 0.75;
      };
    };
    .BgY {
      width: 700px;
      margin-right: 50px;
      position: absolute;
      z-index: 1;
      top: 20%;
      img {
        opacity: 0.75;
      };
    };
  };
  .controlIcon {
    z-index: 3;
  }
}
@media screen and (max-width: 425px) {
  .IndexBanner {
    .IndexBannerContent {
      .Title {
        font-size: 36px;
      };
      .MainTitle {
        border-bottom: 1px solid rgba(255,255,255,1);
      };
      .MainTitleOne {
        font-size: 22px;
      };
      .MainTitleTwo {
        padding: 5px 0 10px;
        font-size: 22px;
      };
      .Subheading {
        font-size: 15px;
      };
    };
    .AnimateBg {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      .BgR {
        width: 490px;
        position: absolute;
        z-index: 2;
        top: 42vh;
        img {
          opacity: 0.75;
        };
      };
      .BgY {
        width: 500px;
        margin-right: 80px;
        position: absolute;
        z-index: 1;
        top: 37vh;
        img {
          opacity: 0.75;
        };
      };
    };
  };
};

.Advantage {
  padding: 0 15px;
  background: linear-gradient(0deg, rgba(225,225,225,1), rgba(225,225,225,1)) 50% 0 no-repeat, linear-gradient(0deg, rgba(225,225,225,1), rgba(225,225,225,1)) 50% 100% no-repeat, rgba(248,249,250,1);
  background-size: 100% 1px, 100% 1px, 100%;
  .AdvantageForm {
    border-right: 1px dashed rgba(214,214,214,1);
    &:last-child {
      border: unset;
    };
    .AdvantageImg {
      max-width: 360;
      border-radius: 4px;
      img {
        width: 150px;
      };
    };
    .AdvantageTitle {
      max-width: 100%;
      padding: 10px 0;
      color: rgba(216,67,35,1);
      font-size: 18px;
      font-weight: 600;
    };
    .AdvantageInfo {
      color: rgba(115,115,115,1);
      font-size: 15px;
      line-height: 25px;
    };
  };
};
@media screen and (max-width: 425px) {
  .Advantage {
    .AdvantageForm {
      border-right: unset;
      border-bottom: 1px dashed rgba(214,214,214,1);
    };
  };
}

.Catalogue {
  .categories {
    padding-bottom: 30px;
    text-align: center;
    ul.cat {
      li {
        display: inline-block;
        ol.type {
          li {
            display: inline-block;
            margin-left: 20px;
            &::after {
              content: ' | ';
              margin-left: 20px;
            };
            &:last-child {
              &::after {
                content: '';
              };
            };
            a {
              color: #222222;
              &:active, &:hover {
                color: #D2527F;
                font-weight: bold;
              };
            };
          };
        };
      };
    };
    .portfolioItems {
      .hover-bg {
        height: 381px;
        overflow: hidden;
        position: relative;
        .hover-text {
          position: absolute;
          text-align: center;
          margin: 0 auto;
          color: #ffffff;
          background: rgba(0, 0, 0, 0.66);
          padding: 25% 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: all 0.5s;
        };
        .hover-text {
          padding: 12% 10%;
          opacity: 1;
        };
        .hover-text>h4 {
          opacity: 0;
          -webkit-transform: translateY(100%);
          transform: translateY(100%);
          transition: all 0.3s;
        };
        .hover-text>i {
          opacity: 0;
          -webkit-transform: translateY(0);
          transform: translateY(0);
          transition: all 0.3s;
        };
        &:hover {
          .hover-text>h4 {
            opacity: 1;
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateY(0);
            transform: translateY(0);
          };
          .hover-text>i {
            opacity: 1;
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
          };
        };
      };
    };
  };
}

.IndexAbout {
  background: linear-gradient(0deg, rgba(225,225,225,1), rgba(225,225,225,1)) 50% 0 no-repeat, rgba(248,249,250,1);
}

.News {
  background: linear-gradient(0deg, rgba(225,225,225,1), rgba(225,225,225,1)) 50% 0 no-repeat, linear-gradient(0deg, rgba(225,225,225,1), rgba(225,225,225,1)) 50% 100% no-repeat, rgba(248,249,250,1);
  background-size: 100% 1px, 100% 1px, 100%;
  .NewsLink {
    display: block;
    text-decoration: none;
    transition: all 0.3s;
    .NewsTitle {
      max-width: 100%;
      padding: 10px 0;
      color: rgba(216,67,35,1);
      font-size: 18px;
      text-overflow : ellipsis; //- 單行省略
      white-space : nowrap; //- 單行省略
      overflow : hidden; //- 單行省略
    };
    .NewsInfo {
      color: rgba(115,115,115,1);
      font-size: 15px;
      line-height: 25px;
      display: -webkit-box; //- 多行省略
      -webkit-box-orient: vertical; //- 多行省略
      -webkit-line-clamp: 2; //- 多行省略
      overflow: hidden; //- 多行省略
    };
    .NewsDate {
      color: rgba(0,0,0,0.6);
      font-size: 15px;
    };
  };
  .NewsLink:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    transition: all 0.3s;
  };
}

.NewsDetail {
  background: linear-gradient(0deg, rgba(225,225,225,1), rgba(225,225,225,1)) 50% 0 no-repeat, linear-gradient(0deg, rgba(225,225,225,1), rgba(225,225,225,1)) 50% 100% no-repeat, rgba(248,249,250,1);
  background-size: 100% 1px, 100% 1px, 100%;
  .NewsDetailPrev, .NewsDetailNext {
    min-width: 60px;
    height: 28px;
    background: rgba(216,67,35,1);
    color: rgba(255,255,255,1);
    border: unset;
    cursor: pointer;
    &:hover, &:focus {
      background: rgba(217,93,65,1);
      color: rgba(255,255,255,1);
      outline: unset;
    };
    &:active {
      background: rgba(216,67,35,1);
      color: rgba(255,255,255,1);
      outline: unset;
    };
  };
  .NewsDetailCont {
    border-top: 1px dashed rgba(214,214,214,1);
    // border-bottom: 1px dashed rgba(214,214,214,1);
    .NewsDetailImg {
      height: 240px;
      max-height: 240px;
      background: url('../img/icon/IconNoImg.svg') 50% 50% no-repeat, rgba(214,214,214,1);
      background-size: 100px, 100%;
    };
    .NewsDetailTag {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 60px;
      height: 20px;
      margin: 0 0 10px;
      padding: 0 10px;
      background: rgba(216,67,35,1);
      color: rgba(255,255,255,1);
      font-size: 13px;
      font-weight: 600;
      border-radius: 4px;
    };
    .NewsDetailTitle {
      max-width: 100%;
      padding: 10px 0 20px;
      color: rgba(216,67,35,1);
      font-size: 18px;
    };
    .NewsDetailDate {
      padding-bottom: 10px;
      color: rgba(0,0,0,0.4);
      font-size: 15px;
    };
    .NewsDetailInfo {
      color: rgba(115,115,115,1);
      font-size: 15px;
      line-height: 30px;
    };
  };
}

.IndexContact {
  background: url('../img/contact/MapImg.png') 50% 50% no-repeat, rgba(33,37,41,1);
  background-size: auto 100%;
  .IndexContactNotes {
    padding-bottom: 20px;
    color: rgba(253,211,55,1);
    font-size: 15px;
    font-weight: 600;
    word-break: break-word;
  };
  .IndexContactForm {
    .IndexContactLine {
      width: 1px;
      height: 200px;
      background: rgba(214,214,214,0.5);
    };
    .IndexContactTextarea {
      textarea {
        min-height: 164px !important;
      };
    };
  };
}

.Company {
  background: linear-gradient(0deg, rgba(225,225,225,1), rgba(225,225,225,1)) 50% 0 no-repeat, rgba(248,249,250,1);
  background-size: 100% 1px, 100%;
  .CompanyCont {
    img {
      width: 40px;
    };
    .CompanyInfo {
      color: rgba(52,58,64,1);
    };
  };
  .CompanyLine {
    width: 1px;
    height: 20px;
    background: rgba(52,58,64,0.2);
  };
}

.footer {
  padding: 25px 30px;
  background: rgba(34, 34, 34, 1);
  color: rgba(160, 160, 160, 1);
  line-height: 20px;
}