@charset "UTF-8";
/*-- Scss Document --*/
html, body {
  width: 100%;
  height: 100%;
  font-family: "PingFangTC", "微軟正黑體", Arial, Helvetica, sans-serif !important; }

section {
  padding: 50px 0; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #8d8d8d !important; }

input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #8d8d8d !important; }

input:-moz-placeholder, textarea:-moz-placeholder, select:-moz-placeholder {
  color: #8d8d8d !important; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #8d8d8d !important; }

.TextR {
  color: #d84323; }

.BtnRed, .BtnOrange, .BtnBlue {
  min-width: 120px;
  padding: 10px !important;
  border: unset !important;
  line-height: 20px !important; }
  .BtnRed:hover, .BtnRed:active, .BtnRed:focus, .BtnOrange:hover, .BtnOrange:active, .BtnOrange:focus, .BtnBlue:hover, .BtnBlue:active, .BtnBlue:focus {
    outline: unset !important; }

.BtnRed {
  background: #d84323 !important;
  color: white !important; }
  .BtnRed:hover {
    background: #d95d41 !important; }

.BtnOrange {
  background: #f09d10 !important;
  color: white !important; }
  .BtnOrange:hover {
    background: #fdb537 !important; }

.BtnBlue {
  background: #219bd9 !important;
  color: white !important; }
  .BtnBlue:hover {
    background: #41a6d9 !important; }

.Pagination.is-background .el-pager li:hover {
  color: #d84323 !important; }

.Pagination.is-background .el-pager li:not(.disabled).active {
  background: #d84323 !important; }
  .Pagination.is-background .el-pager li:not(.disabled).active:hover {
    color: white !important; }

.TitleFormW, .TitleFormB {
  padding-bottom: 20px; }
  .TitleFormW .Title, .TitleFormB .Title {
    padding: 0 0 25px;
    background: -webkit-gradient(linear, left top, right top, from(#f03264), to(#f03264)) 50% 100% no-repeat;
    background: -webkit-linear-gradient(left, #f03264, #f03264) 50% 100% no-repeat;
    background: -o-linear-gradient(left, #f03264, #f03264) 50% 100% no-repeat;
    background: linear-gradient(90deg, #f03264, #f03264) 50% 100% no-repeat;
    background-size: 70px 1px;
    word-break: break-word; }
  .TitleFormW .MainTitle, .TitleFormB .MainTitle {
    padding: 5px 0 0;
    word-break: break-word; }

.TitleFormW .Title {
  color: white;
  font-size: 32px; }

.TitleFormW .MainTitle {
  color: #d6d6d6;
  font-size: 18px;
  font-weight: 600; }

.TitleFormB .Title {
  color: #202020;
  font-size: 32px; }

.TitleFormB .MainTitle {
  color: #5a5a5a;
  font-size: 18px;
  font-weight: 600; }

.navbar {
  padding: 10px 15px;
  font-size: 15px;
  z-index: 1500; }
  .navbar .navbar-brand {
    width: 70%;
    max-width: 240px;
    padding: 5px;
    font-size: unset; }
    .navbar .navbar-brand img {
      width: 100%; }
  .navbar .nav-item .nav-link:hover {
    color: #f03264; }
  .navbar .navbar-toggler {
    max-width: 50px;
    padding: unset;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px; }
    .navbar .navbar-toggler .fancynavbar {
      position: unset; }
      .navbar .navbar-toggler .fancynavbar .fancynavbar-togglerbar {
        height: 30px; }
        .navbar .navbar-toggler .fancynavbar .fancynavbar-togglerbar .fancynavbar-toggler {
          width: 50px;
          height: 50px; }
          .navbar .navbar-toggler .fancynavbar .fancynavbar-togglerbar .fancynavbar-toggler .fancynavbar-toggler-icon path {
            stroke: rgba(255, 255, 255, 0.75); }
  .navbar .navbar-collapse {
    max-width: 100%; }
  .navbar .navLineOne {
    width: 1px;
    height: 10px;
    background: rgba(255, 255, 255, 0.25); }
  .navbar .navLineTwo {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.25); }
  .navbar .NavFlag img {
    height: 15px; }
  .navbar .MenuFlag img {
    height: 15px; }
  .navbar .DropdownForm .dropdown-menu {
    min-width: unset;
    margin: unset;
    padding: unset;
    background: #232323;
    border: unset; }
    .navbar .DropdownForm .dropdown-menu .dropdown-item {
      padding: 15px 15px;
      color: #d6d6d6;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))) 100% 50% no-repeat;
      background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat;
      background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat;
      background-size: 1px 10px;
      cursor: pointer; }
      .navbar .DropdownForm .dropdown-menu .dropdown-item:hover, .navbar .DropdownForm .dropdown-menu .dropdown-item:focus {
        color: #f03264; }
  .navbar .DropdownForm .LanguageDropdown {
    left: unset;
    right: 0; }
  .navbar .ServiceDropdown .dropdown-item:last-child {
    background: unset; }
  .navbar .MemberDropdown .dropdown-item:last-child {
    background: unset; }
  .navbar .FlagDropdown .dropdown-item:last-child {
    background: unset; }

.bg-black {
  background: #232323 !important; }

.Fixed {
  position: fixed;
  bottom: 30px;
  right: 0;
  z-index: 1200; }
  .Fixed .FixedForm .FixedBtn {
    margin: 0 0 10px 0;
    padding: 0;
    color: white; }
    .Fixed .FixedForm .FixedBtn:last-child {
      margin: unset; }
    .Fixed .FixedForm .FixedBtn .FixedBackTop, .Fixed .FixedForm .FixedBtn .FixedCart, .Fixed .FixedForm .FixedBtn .FixedContact, .Fixed .FixedForm .FixedBtn .FixedTelegram, .Fixed .FixedForm .FixedBtn .FixedSkype {
      width: 40px;
      border-radius: 4px 0 0 4px;
      cursor: pointer; }
      .Fixed .FixedForm .FixedBtn .FixedBackTop .FixedContactCont, .Fixed .FixedForm .FixedBtn .FixedCart .FixedContactCont, .Fixed .FixedForm .FixedBtn .FixedContact .FixedContactCont, .Fixed .FixedForm .FixedBtn .FixedTelegram .FixedContactCont, .Fixed .FixedForm .FixedBtn .FixedSkype .FixedContactCont {
        opacity: 1; }
      .Fixed .FixedForm .FixedBtn .FixedBackTop img, .Fixed .FixedForm .FixedBtn .FixedCart img, .Fixed .FixedForm .FixedBtn .FixedContact img, .Fixed .FixedForm .FixedBtn .FixedTelegram img, .Fixed .FixedForm .FixedBtn .FixedSkype img {
        width: 30px;
        opacity: 1; }
      .Fixed .FixedForm .FixedBtn .FixedBackTop:hover, .Fixed .FixedForm .FixedBtn .FixedCart:hover, .Fixed .FixedForm .FixedBtn .FixedContact:hover, .Fixed .FixedForm .FixedBtn .FixedTelegram:hover, .Fixed .FixedForm .FixedBtn .FixedSkype:hover {
        width: 50px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        .Fixed .FixedForm .FixedBtn .FixedBackTop:hover .FixedContactCont, .Fixed .FixedForm .FixedBtn .FixedCart:hover .FixedContactCont, .Fixed .FixedForm .FixedBtn .FixedContact:hover .FixedContactCont, .Fixed .FixedForm .FixedBtn .FixedTelegram:hover .FixedContactCont, .Fixed .FixedForm .FixedBtn .FixedSkype:hover .FixedContactCont {
          opacity: 1; }
        .Fixed .FixedForm .FixedBtn .FixedBackTop:hover img, .Fixed .FixedForm .FixedBtn .FixedCart:hover img, .Fixed .FixedForm .FixedBtn .FixedContact:hover img, .Fixed .FixedForm .FixedBtn .FixedTelegram:hover img, .Fixed .FixedForm .FixedBtn .FixedSkype:hover img {
          opacity: 1; }
      .Fixed .FixedForm .FixedBtn .FixedBackTop:active, .Fixed .FixedForm .FixedBtn .FixedBackTop:focus, .Fixed .FixedForm .FixedBtn .FixedCart:active, .Fixed .FixedForm .FixedBtn .FixedCart:focus, .Fixed .FixedForm .FixedBtn .FixedContact:active, .Fixed .FixedForm .FixedBtn .FixedContact:focus, .Fixed .FixedForm .FixedBtn .FixedTelegram:active, .Fixed .FixedForm .FixedBtn .FixedTelegram:focus, .Fixed .FixedForm .FixedBtn .FixedSkype:active, .Fixed .FixedForm .FixedBtn .FixedSkype:focus {
        width: 40px; }
    .Fixed .FixedForm .FixedBtn .FixedBackTop, .Fixed .FixedForm .FixedBtn .FixedCart, .Fixed .FixedForm .FixedBtn .FixedTelegram, .Fixed .FixedForm .FixedBtn .FixedSkype {
      height: 40px;
      padding: 5px; }
    .Fixed .FixedForm .FixedBtn .FixedBackTop {
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))) 100% 50% no-repeat, #f0b914;
      background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 100% 50% no-repeat, #f0b914;
      background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 100% 50% no-repeat, #f0b914;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 100% 50% no-repeat, #f0b914;
      background-size: 5px 100%, 100%; }
      .Fixed .FixedForm .FixedBtn .FixedBackTop:hover {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))) 100% 50% no-repeat, #f0b914;
        background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat, #f0b914;
        background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat, #f0b914;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat, #f0b914;
        background-size: 5px 100%, 100%; }
    .Fixed .FixedForm .FixedBtn .FixedTelegram {
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))) 100% 50% no-repeat, #23a1e4;
      background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 100% 50% no-repeat, #23a1e4;
      background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 100% 50% no-repeat, #23a1e4;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 100% 50% no-repeat, #23a1e4;
      background-size: 5px 100%, 100%; }
      .Fixed .FixedForm .FixedBtn .FixedTelegram:hover {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))) 100% 50% no-repeat, #23a1e4;
        background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat, #23a1e4;
        background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat, #23a1e4;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat, #23a1e4;
        background-size: 5px 100%, 100%; }
    .Fixed .FixedForm .FixedBtn .FixedSkype {
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))) 100% 50% no-repeat, #00abf2;
      background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 100% 50% no-repeat, #00abf2;
      background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 100% 50% no-repeat, #00abf2;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 100% 50% no-repeat, #00abf2;
      background-size: 5px 100%, 100%; }
      .Fixed .FixedForm .FixedBtn .FixedSkype:hover {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))) 100% 50% no-repeat, #00abf2;
        background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat, #00abf2;
        background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat, #00abf2;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat, #00abf2;
        background-size: 5px 100%, 100%; }
    .Fixed .FixedForm .FixedBtn .FixedCart {
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))) 100% 50% no-repeat, #f0b914;
      background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 100% 50% no-repeat, #f0b914;
      background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 100% 50% no-repeat, #f0b914;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 100% 50% no-repeat, #f0b914;
      background-size: 5px 100%, 100%; }
      .Fixed .FixedForm .FixedBtn .FixedCart:hover {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))) 100% 50% no-repeat, #f0b914;
        background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat, #f0b914;
        background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat, #f0b914;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat, #f0b914;
        background-size: 5px 100%, 100%; }
    .Fixed .FixedForm .FixedBtn .FixedContact {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 90px;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))) 100% 50% no-repeat, #f03264;
      background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 100% 50% no-repeat, #f03264;
      background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 100% 50% no-repeat, #f03264;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 100% 50% no-repeat, #f03264;
      background-size: 5px 100%, 100%; }
      .Fixed .FixedForm .FixedBtn .FixedContact:hover {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))) 100% 50% no-repeat, #f03264;
        background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat, #f03264;
        background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat, #f03264;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) 100% 50% no-repeat, #f03264;
        background-size: 5px 100%, 100%; }
    .Fixed .FixedForm .FixedBtn .FixedContact .FixedContactCont {
      font-weight: 600;
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg); }
  .Fixed .CartBadge .el-badge__content.is-fixed {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    top: -5px;
    left: -5px;
    right: unset; }

@media screen and (max-width: 425px) {
  .Fixed {
    top: unset;
    bottom: 30px; } }

.IndexBanner .IndexBannerContent {
  z-index: 3; }
  .IndexBanner .IndexBannerContent .Title {
    font-size: 52px; }
  .IndexBanner .IndexBannerContent .MainTitle {
    border-bottom: 1px solid white; }
  .IndexBanner .IndexBannerContent .MainTitleOne {
    padding: 5px 0;
    font-size: 32px; }
  .IndexBanner .IndexBannerContent .MainTitleTwo {
    padding: 5px 0;
    font-size: 24px; }
  .IndexBanner .IndexBannerContent .Subheading {
    font-size: 18px;
    font-weight: 600; }
  .IndexBanner .IndexBannerContent .Title, .IndexBanner .IndexBannerContent .MainTitleOne, .IndexBanner .IndexBannerContent .MainTitleTwo, .IndexBanner .IndexBannerContent .Subheading {
    color: white; }
  .IndexBanner .IndexBannerContent .indicator {
    width: 40px;
    height: 40px; }
    .IndexBanner .IndexBannerContent .indicator .IndicatorDown {
      width: 100%;
      height: 100%; }
      .IndexBanner .IndexBannerContent .indicator .IndicatorDown img {
        width: 100%;
        opacity: 0.75;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        .IndexBanner .IndexBannerContent .indicator .IndicatorDown img:hover {
          opacity: 1; }

.IndexBanner .AnimateBg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }
  .IndexBanner .AnimateBg .BgR {
    width: 600px;
    margin-right: 60px;
    position: absolute;
    z-index: 2;
    top: 35%; }
    .IndexBanner .AnimateBg .BgR img {
      opacity: 0.75; }
  .IndexBanner .AnimateBg .BgY {
    width: 700px;
    margin-right: 50px;
    position: absolute;
    z-index: 1;
    top: 20%; }
    .IndexBanner .AnimateBg .BgY img {
      opacity: 0.75; }

.IndexBanner .controlIcon {
  z-index: 3; }

@media screen and (max-width: 425px) {
  .IndexBanner .IndexBannerContent .Title {
    font-size: 36px; }
  .IndexBanner .IndexBannerContent .MainTitle {
    border-bottom: 1px solid white; }
  .IndexBanner .IndexBannerContent .MainTitleOne {
    font-size: 22px; }
  .IndexBanner .IndexBannerContent .MainTitleTwo {
    padding: 5px 0 10px;
    font-size: 22px; }
  .IndexBanner .IndexBannerContent .Subheading {
    font-size: 15px; }
  .IndexBanner .AnimateBg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; }
    .IndexBanner .AnimateBg .BgR {
      width: 490px;
      position: absolute;
      z-index: 2;
      top: 42vh; }
      .IndexBanner .AnimateBg .BgR img {
        opacity: 0.75; }
    .IndexBanner .AnimateBg .BgY {
      width: 500px;
      margin-right: 80px;
      position: absolute;
      z-index: 1;
      top: 37vh; }
      .IndexBanner .AnimateBg .BgY img {
        opacity: 0.75; } }

.Advantage {
  padding: 0 15px;
  background: -webkit-gradient(linear, left bottom, left top, from(#e1e1e1), to(#e1e1e1)) 50% 0 no-repeat, -webkit-gradient(linear, left bottom, left top, from(#e1e1e1), to(#e1e1e1)) 50% 100% no-repeat, #f8f9fa;
  background: -webkit-linear-gradient(bottom, #e1e1e1, #e1e1e1) 50% 0 no-repeat, -webkit-linear-gradient(bottom, #e1e1e1, #e1e1e1) 50% 100% no-repeat, #f8f9fa;
  background: -o-linear-gradient(bottom, #e1e1e1, #e1e1e1) 50% 0 no-repeat, -o-linear-gradient(bottom, #e1e1e1, #e1e1e1) 50% 100% no-repeat, #f8f9fa;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1) 50% 0 no-repeat, linear-gradient(0deg, #e1e1e1, #e1e1e1) 50% 100% no-repeat, #f8f9fa;
  background-size: 100% 1px, 100% 1px, 100%; }
  .Advantage .AdvantageForm {
    border-right: 1px dashed #d6d6d6; }
    .Advantage .AdvantageForm:last-child {
      border: unset; }
    .Advantage .AdvantageForm .AdvantageImg {
      max-width: 360;
      border-radius: 4px; }
      .Advantage .AdvantageForm .AdvantageImg img {
        width: 150px; }
    .Advantage .AdvantageForm .AdvantageTitle {
      max-width: 100%;
      padding: 10px 0;
      color: #d84323;
      font-size: 18px;
      font-weight: 600; }
    .Advantage .AdvantageForm .AdvantageInfo {
      color: #737373;
      font-size: 15px;
      line-height: 25px; }

@media screen and (max-width: 425px) {
  .Advantage .AdvantageForm {
    border-right: unset;
    border-bottom: 1px dashed #d6d6d6; } }

.Catalogue .categories {
  padding-bottom: 30px;
  text-align: center; }
  .Catalogue .categories ul.cat li {
    display: inline-block; }
    .Catalogue .categories ul.cat li ol.type li {
      display: inline-block;
      margin-left: 20px; }
      .Catalogue .categories ul.cat li ol.type li::after {
        content: ' | ';
        margin-left: 20px; }
      .Catalogue .categories ul.cat li ol.type li:last-child::after {
        content: ''; }
      .Catalogue .categories ul.cat li ol.type li a {
        color: #222222; }
        .Catalogue .categories ul.cat li ol.type li a:active, .Catalogue .categories ul.cat li ol.type li a:hover {
          color: #D2527F;
          font-weight: bold; }
  .Catalogue .categories .portfolioItems .hover-bg {
    height: 381px;
    overflow: hidden;
    position: relative; }
    .Catalogue .categories .portfolioItems .hover-bg .hover-text {
      position: absolute;
      text-align: center;
      margin: 0 auto;
      color: #ffffff;
      background: rgba(0, 0, 0, 0.66);
      padding: 25% 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .Catalogue .categories .portfolioItems .hover-bg .hover-text {
      padding: 12% 10%;
      opacity: 1; }
    .Catalogue .categories .portfolioItems .hover-bg .hover-text > h4 {
      opacity: 0;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .Catalogue .categories .portfolioItems .hover-bg .hover-text > i {
      opacity: 0;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .Catalogue .categories .portfolioItems .hover-bg:hover .hover-text > h4 {
      opacity: 1;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
    .Catalogue .categories .portfolioItems .hover-bg:hover .hover-text > i {
      opacity: 1;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%); }

.IndexAbout {
  background: -webkit-gradient(linear, left bottom, left top, from(#e1e1e1), to(#e1e1e1)) 50% 0 no-repeat, #f8f9fa;
  background: -webkit-linear-gradient(bottom, #e1e1e1, #e1e1e1) 50% 0 no-repeat, #f8f9fa;
  background: -o-linear-gradient(bottom, #e1e1e1, #e1e1e1) 50% 0 no-repeat, #f8f9fa;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1) 50% 0 no-repeat, #f8f9fa; }

.News {
  background: -webkit-gradient(linear, left bottom, left top, from(#e1e1e1), to(#e1e1e1)) 50% 0 no-repeat, -webkit-gradient(linear, left bottom, left top, from(#e1e1e1), to(#e1e1e1)) 50% 100% no-repeat, #f8f9fa;
  background: -webkit-linear-gradient(bottom, #e1e1e1, #e1e1e1) 50% 0 no-repeat, -webkit-linear-gradient(bottom, #e1e1e1, #e1e1e1) 50% 100% no-repeat, #f8f9fa;
  background: -o-linear-gradient(bottom, #e1e1e1, #e1e1e1) 50% 0 no-repeat, -o-linear-gradient(bottom, #e1e1e1, #e1e1e1) 50% 100% no-repeat, #f8f9fa;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1) 50% 0 no-repeat, linear-gradient(0deg, #e1e1e1, #e1e1e1) 50% 100% no-repeat, #f8f9fa;
  background-size: 100% 1px, 100% 1px, 100%; }
  .News .NewsLink {
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .News .NewsLink .NewsTitle {
      max-width: 100%;
      padding: 10px 0;
      color: #d84323;
      font-size: 18px;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    .News .NewsLink .NewsInfo {
      color: #737373;
      font-size: 15px;
      line-height: 25px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden; }
    .News .NewsLink .NewsDate {
      color: #d6d6d6;
      font-size: 15px; }
  .News .NewsLink:hover {
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

.IndexContact {
  background: url("../img/contact/MapImg.png") 50% 50% no-repeat, #212529;
  background-size: auto 100%; }
  .IndexContact .IndexContactNotes {
    padding-bottom: 20px;
    color: #fdd337;
    font-size: 15px;
    font-weight: 600;
    word-break: break-word; }
  .IndexContact .IndexContactForm .IndexContactLine {
    width: 1px;
    height: 200px;
    background: rgba(214, 214, 214, 0.5); }
  .IndexContact .IndexContactForm .IndexContactTextarea textarea {
    min-height: 164px !important; }

.Company {
  background: -webkit-gradient(linear, left bottom, left top, from(#e1e1e1), to(#e1e1e1)) 50% 0 no-repeat, #f8f9fa;
  background: -webkit-linear-gradient(bottom, #e1e1e1, #e1e1e1) 50% 0 no-repeat, #f8f9fa;
  background: -o-linear-gradient(bottom, #e1e1e1, #e1e1e1) 50% 0 no-repeat, #f8f9fa;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1) 50% 0 no-repeat, #f8f9fa;
  background-size: 100% 1px, 100%; }
  .Company .CompanyCont img {
    width: 40px; }
  .Company .CompanyCont .CompanyInfo {
    color: #343a40; }
  .Company .CompanyLine {
    width: 1px;
    height: 20px;
    background: rgba(52, 58, 64, 0.2); }

.footer {
  padding: 25px 30px;
  background: #222222;
  color: #a0a0a0;
  line-height: 20px; }
