section.Advertising.text-center.text-sans-serif
  .container-fluid
    .row.d-flex.flex-row.justify-content-center.align-items-center
      //- 廣告插入欄位
      .col-12.AdvertisingForm.d-flex.flex-row.justify-content-center.align-items-center
        .mx-2
          img(src="assets/img/advertising/ad01.png")
        .mx-2
          img(src="assets/img/advertising/ad01.png")
        .mx-2
          img(src="assets/img/advertising/ad01.png")
        .mx-2.d-none.d-lg-block
          img(src="assets/img/advertising/ad01.png")