//- section#digital-socials.text-center.text-sans-serif.Company
  //- .container
    .row.d-flex.flex-row.justify-content-center.align-items-center
      .CompanyCont.col-md-6.col-lg-4.d-flex.flex-row.justify-content-center.justify-content-lg-end.align-items-center.text-md-center
        img(src='assets/img/icon/IconPhone.svg')
        a.CompanyInfo.pl-2(href="tel:+1234567-891") +1 (234) 567-891
      .CompanyLine.mx-2.d-lg-block.d-none
      .CompanyCont.col-md-6.col-lg-4.d-flex.flex-row.justify-content-center.justify-content-lg-start.align-items-center.text-md-center
        img(src='assets/img/icon/IconEmail.svg')
        a.CompanyInfo.pl-2(href="mailto:futian@futian.com") futian@futian.com