footer.footer.text-center.overflow-hidden(data-zanim-timeline="{}" data-zanim-trigger="scroll")
  .container
    .row.align-items-center
      .col-12
        p.fs--1.text-uppercase.ls.font-weight-bold.mb-0 Copyright © 2020 All Rights Reserved.