//- 服務國家-USDT
.text-sans-serif
  .container
    .row.IndexServicesForm.px-3.py-md-0.py-lg-3.mb-lg-5
      //- 收款
      .ServicesForm.col-lg-6.pb-3.pb-md-0
        .media.text-sans-serif.overflow-hidden.d-flex.flex-column(data-zanim-timeline='{"delay":0.1}')
          .MainTitle.d-flex.flex-row.align-items-center.pb-3
            img.mr-3(src="assets/img/icon/IconReceive.svg" alt="icon" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}')
            .overflow-hidden
              h4(data-zanim-xs='{"delay":0.3,"animation":"slide-right"}') Receive payment
              h5.Subheading(data-zanim-xs='{"delay":0.4,"animation":"slide-right"}') {{ $t('IndexServiceItems.Receive'/*收款*/) }}
          .media-body
            .overflow-hidden
              .mb-0.ServicesFormCont(data-zanim-xs='{"delay":0.5,"animation":"slide-right"}')
                ul
                  li {{ $t('IndexServicesUSDT.ReceiveWOne'/*支持USDT收款回調*/) }}
                  li {{ $t('IndexServicesUSDT.ReceiveWTwo'/*專屬交易員前端軟件〈手機端+PC端〉*/) }}
                  li {{ $t('IndexServicesUSDT.ReceiveWThree'/*可自行於後台創建交易員、新增交易員收款錢包地址*/) }}
//- 銀行簡訊監控收款回調
section.MessageMonitor.text-sans-serif
  .container
    .row.justify-content-center.text-center
      .col-lg-7.TitleFormB
        h2.Title {{ $t('USDTMonitor.MainTitle'/*USDT MONITOR*/) }}
        .MainTitle {{ $t('USDTMonitor.Subheading'/*監控USDT收款回調*/) }}
    .row.justify-content-center.mt-6
      .col-12.d-flex.justify-content-center.align-items-center
        .CardItem.px-3.d-flex.flex-row.justify-content-center.align-items-center(data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll")
          .CardImg
            img(src="assets/img/bankUSDT/USDT.svg")
          .CardInfo
            .MainTitle Tether