section#digital-contact.IndexContact
  .container
    .row.justify-content-center.text-center
      .col-lg-7.TitleFormW
        h2.Title {{ $t('IndexContact.Title'/*CONTACT INFORMATION*/) }}
        .MainTitle {{ $t('IndexContact.MainTitle'/*聯絡我們*/) }}
      .col-lg-7.IndexContactNotes {{ $t('IndexContact.Notes'/*為了致上我們最好的服務與產品體驗，请留下您的信息，我们将盡快與您聯繫。*/) }}

    el-form.IndexContactForm.text-center.px-4.px-lg-0
      .row.d-flex.flex-row.justify-content-center.align-items-center
        .col-lg-4.mt-lg-4
          el-form-item(label='')
            el-input(type="text", v-model="contact.Name", :placeholder="$t('IndexContact.InputName'/*您的姓名*/)")
          el-form-item(label='')
            el-input(type="email", v-model="contact.Email", :placeholder="$t('IndexContact.InputEmail'/*您的信箱*/)")
          el-form-item(label='')
            el-input(type="text", v-model="contact.Title", :placeholder="$t('IndexContact.InputTitle'/*Skype、Telegram*/)")
        .IndexContactLine.d-lg-block.d-none
        .col-lg-4.mt-lg-4
          el-form-item(label='')
            el-input.IndexContactTextarea(type="textarea", v-model="contact.Content", :placeholder="$t('IndexContact.InputMsg'/*您的訊息*/)", :rows="7", :autosize="{ minRows: 7, maxRows: 7}", maxlength="300", show-word-limit)
      el-button.BtnOrange(type="submit") {{ $t('Btn.Submit'/*送出*/) }}