doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- Document Title
    title Fu Tian Pay
    //- Favicons
    link(rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png")
    link(rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico")
    link(rel="manifest" href="assets/img/favicons/manifest.json")
    meta(name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png")
    meta(name="theme-color" content="#ffffff")
    //- Stylesheets
    link(href="assets/lib/loaders.css/loaders.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet")
    link(href="assets/lib/fancybox/jquery.fancybox.min.css" rel="stylesheet")
    link(href="assets/lib/owl.carousel/owl.carousel.css" rel="stylesheet")
    link(href="assets/css/theme.css" rel="stylesheet")
    //- Theme CSS
    link(href="assets/css/main.css" rel="stylesheet")
    //- Element
    link(href="assets/css/element-ui.css" rel="stylesheet")
    //- Google Analytics (analytics.js)
    //- script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-159427042-1', 'auto');
      ga('send', 'pageview');
    //- Global site tag (gtag.js) - Google Analytics
    //- script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-159427042-1")
    //- script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-159427042-1');
  body
    //- #app
      //- Navigation
      include navi.pug
      //- Fixed
      include fixed.pug
      //- Main Content
      main#top.main.min-vh-100
        //- Preloader
        include preloader.pug
        //- <section> IndexBanner
        include indexBanner.pug
        //- Link Tag
        #target-down
        //- Advantage
        include advantage.pug
        //- <section> IndexServices
        #digital-features
          .container-fluid
            #carouselExampleIndicators.carousel.slide.IndexServiceItems(data-ride="carousel")
              .row.justify-content-center.align-items-center.text-center
                .col-lg-7.TitleFormB
                  h2.Title {{ $t('IndexServiceItems.Title'/*SERVICES*/) }}
                  .d-flex.flex-wrap.justify-content-center.align-items-center
                    .IndexServiceMainTitle {{ $t('IndexServiceItems.ServiceCounty'/*服務國家*/) }}
                    ol.carousel-indicators.d-flex.flex-wrap
                      li(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
                        span {{ $t('IndexServiceItems.Taiwan'/*台灣*/) }}
                      li(data-target="#carouselExampleIndicators" data-slide-to="1")
                        span {{ $t('IndexServiceItems.China'/*中國*/) }}
                      li(data-target="#carouselExampleIndicators" data-slide-to="2")
                        span {{ $t('IndexServiceItems.Thailand'/*泰國*/) }}
                      li(data-target="#carouselExampleIndicators" data-slide-to="3")
                        span {{ $t('IndexServiceItems.Vietnam'/*越南*/) }}
                      li(data-target="#carouselExampleIndicators" data-slide-to="4")
                        span {{ $t('IndexServiceItems.Usdt'/*USDT*/) }}
              .row
                .carousel-inner(data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll")
                  //- 台灣
                  .carousel-item(class="active")
                    include indexServicesTw
                  //- 中國
                  .carousel-item
                    include indexServicesCh
                  //- 泰國
                  .carousel-item
                    include indexServicesTh
                  //- 越南
                  .carousel-item
                    include indexServicesVi
                  //- USDT
                  .carousel-item
                    include indexServicesUSDT
              //- Prev & Next Button
              a.carousel-control-prev.d-lg-block.d-none(href="#carouselExampleIndicators" role="button" data-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.sr-only Previous
              a.carousel-control-next.d-lg-block.d-none(href="#carouselExampleIndicators" role="button" data-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.sr-only Next
        //- <section> Advertising
        include advertising.pug
        //- <section> Contact
        include indexContact.pug
        //- <section> Company
        include company.pug
      //- Footer Copyright
      include footer.pug

    #app
      main#top.main.min-vh-100
        //- Preloader
        include preloader.pug
        //- End of Preloader
        //- <section> begin
        section#page-404.py-0
          .container-fluid
            .row
              .col-lg-6.px-0.order-lg-2
                .sticky-top.vh-lg-100.py-9
                  .bg-holder(style="background-image:url(assets/img/error/404.jpg);" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-left","delay":0.4}')
                  // /.bg-holder
              .col-lg-6.bg-white.py-6
                .row.h-100.align-items-center.justify-content-center
                  .col-lg-8
                    h1.display-4.fs-2.fs-lg-3.fs-xl-4
                      span.d-block.overflow-hidden.pb-1
                        span.d-inline-block(data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll") 404
                      span.d-block.overflow-hidden.pb-1
                        span.d-inline-block(data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll") Trying to get
                      span.d-block.overflow-hidden.pb-1
                        span.d-inline-block(data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll") where you want
                      span.d-block.overflow-hidden.pb-1
                        span.d-inline-block(data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll") to go?
                    .overflow-hidden
                      p.fs-1.mt-4(data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll") This page isn't it.
                    //- .overflow-hidden
                      div(data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll")
                        a.btn.btn-outline-dark.mt-6.mb-1(href="index.html") take me home

    //- Bootstrap JavaScript
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/popper.min.js")
    script(src="assets/js/bootstrap.js")
    script(src="assets/js/plugins.js")
    script(src="assets/lib/loaders.css/loaders.css.js")
    script(src="assets/js/stickyfill.min.js")
    script(src="assets/lib/is_js/is.min.js")
    script(src="assets/lib/jtap/jquery.tap.js")
    script(src="assets/js/rellax.min.js")
    script(src="assets/lib/fancybox/jquery.fancybox.min.js")
    script(src="assets/lib/owl.carousel/owl.carousel.js")
    script(src="assets/js/theme.js")
    //- Vue
    script(src='assets/js/vue.min.js')
    script(src='assets/js/httpVueLoader.js')
    //- i18n
    script(src='assets/js/vue-i18n.min.js')
    //- Element
    script(src="assets/js/element-ui.js")
    //- Function
    script(src='assets/js/main.js' type='module')