//- 服務國家-台灣
.text-sans-serif
  .container
    .row.IndexServicesForm.px-3.py-md-0.py-lg-3.mb-lg-5
      //- 收款
      .ServicesForm.col-lg-6.pb-3.pb-md-0
        .media.text-sans-serif.overflow-hidden.d-flex.flex-column(data-zanim-timeline='{"delay":0.1}')
          .MainTitle.d-flex.flex-row.align-items-center.pb-3
            img.mr-3(src="assets/img/icon/IconReceive.svg" alt="icon" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}')
            .overflow-hidden
              h4(data-zanim-xs='{"delay":0.3,"animation":"slide-right"}') Receive payment
              h5.Subheading(data-zanim-xs='{"delay":0.4,"animation":"slide-right"}') {{ $t('IndexServiceItems.Receive'/*收款*/) }}
          .media-body
            .overflow-hidden
              .mb-0.ServicesFormCont(data-zanim-xs='{"delay":0.5,"animation":"slide-right"}')
                ul
                  li {{ $t('IndexServicesTw.ReceiveWOne'/*LINE Pay、街口支付*/) }}
      //- 出款
      .ServicesForm.col-lg-6.pt-3.pt-md-0.pl-lg-4
        .media.text-sans-serif.overflow-hidden.d-flex.flex-column(data-zanim-timeline='{"delay":0.2}')
          .MainTitle.d-flex.flex-row.align-items-center.pb-3
            img.mr-3(src="assets/img/icon/IconDispensing.svg" alt="icon" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}')
            .overflow-hidden
              h4(data-zanim-xs='{"delay":0.3,"animation":"slide-right"}') Dispensing
              h5.Subheading(data-zanim-xs='{"delay":0.4,"animation":"slide-right"}') {{ $t('IndexServiceItems.Dispensing'/*出款*/) }}
          .media-body
            .overflow-hidden
              .mb-0.ServicesFormCont(data-zanim-xs='{"delay":0.5,"animation":"slide-right"}')
                ul
                  li {{ $t('IndexServicesTw.DispensingWOne'/*網銀自動出款*/) }}
//- 電子行動支付監控收款功能
section.AppMonitor.text-sans-serif
  .container
    .row.justify-content-center.text-center
      .col-lg-7.TitleFormW
        h2.Title {{ $t('AppMonitor.MainTitle'/*APP MONITOR*/) }}
        .MainTitle {{ $t('AppMonitor.Subheading'/*電子行動支付監控收款功能*/) }}
    .row.justify-content-center.mt-6
      .col-12.col-md-4.col-lg-3.d-flex.justify-content-center.align-items-center
        .CardItem.px-3.d-flex.flex-row.justify-content-start.align-items-center(data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll")
          .CardImg
            img(src="assets/img/bankTw/LINEPAY.svg")
          .CardInfo
            .MainTitle {{ $t('IndexServicesTw.AppMainTitleOne'/*LINE Pay*/) }}
      .col-12.col-md-4.col-lg-3.d-flex.justify-content-center.align-items-center.mt-4.mt-md-0
        .CardItem.px-3.d-flex.flex-row.justify-content-start.align-items-center(data-zanim-xs='{"delay":0.2,"animation":"zoom-in"}' data-zanim-trigger="scroll")
          .CardImg
            img(src="assets/img/bankTw/JKOPAY.svg")
          .CardInfo
            .MainTitle {{ $t('IndexServicesTw.AppMainTitleTwo'/*街口支付*/) }}
            .Subheading {{ $t('IndexServicesTw.AppSubheadingTwo'/*JKOPAY*/) }}