doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- Document Title
    title Fu Tian Pay
    //- Favicons
    link(rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png")
    link(rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico")
    link(rel="manifest" href="assets/img/favicons/manifest.json")
    meta(name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png")
    meta(name="theme-color" content="#ffffff")
    //- Stylesheets
    link(href="assets/lib/loaders.css/loaders.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet")
    link(href="assets/lib/fancybox/jquery.fancybox.min.css" rel="stylesheet")
    link(href="assets/lib/owl.carousel/owl.carousel.css" rel="stylesheet")
    link(href="assets/css/theme.css" rel="stylesheet")
    //- Theme CSS
    link(href="assets/css/main.css" rel="stylesheet")
    //- Element
    link(href="assets/css/element-ui.css" rel="stylesheet")
    //- Google Analytics (analytics.js)
    //- script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-159427042-1', 'auto');
      ga('send', 'pageview');
    //- Global site tag (gtag.js) - Google Analytics
    //- script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-159427042-1")
    //- script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-159427042-1');
  body
    #app
      //- Navigation
      include navi.pug
      //- Fixed
      include fixed.pug
      //- Main Content
      main#top.main.min-vh-100
        //- Preloader
        include preloader.pug
        //- <section> IndexBanner
        include pageBannerFive.pug
        //- <section> Member
        section#page-member.py-lg-5.Member.overflow-hidden
          .container
            .row.justify-content-center.text-center
              .col-lg-7.TitleFormB
                h2.Title {{ $t('Member.Title'/*MEMBER*/) }}
                .MainTitle {{ $t('Member.MainTitle'/*會員中心*/) }}

            //- Member Content
            .row.py-3
              .col-12
                el-tabs.MemberTab(v-model="activeName" @tab-click="tabHandleClick" data-zanim-timeline='{}' data-zanim-trigger="scroll")
                  //- 會員資料
                  el-tab-pane(:label="$t('Member.Information'/*會員資料*/)" name="information" data-rellax-speed="1" data-zanim-xs='{"from":{"opacity":0,"y":-150,"scale":1},"to":{"opacity":1,"y":0,"scale":1},"ease":"Back.easeOut","duration":1,"delay":1}')
                    .row.pt-4
                      .col-lg-6.pb-5
                        .MemberDetail.text-left
                          .MemberInfo
                            .MemberTitle {{ $t('Member.Company'/*公司名稱：*/) }}
                            .MemberCont Fu Tain Pay
                        .MemberDetail.text-left
                          .MemberInfo
                            .MemberTitle {{ $t('Member.Account'/*會員帳號：*/) }}
                            .MemberCont Fu Tain Pay Account
                        .MemberDetail.text-left
                          .MemberInfo
                            .MemberTitle {{ $t('Member.RealName'/*真實姓名：*/) }}
                            .MemberCont 福鈿聚合
                        .MemberDetail.text-left.d-flex.flex-row.justify-content-between.align-items-center
                          .MemberInfo
                            .MemberTitle {{ $t('Member.Password'/*密碼：*/) }}
                            .MemberCont ********
                          el-button.BtnBlue(type="button" data-toggle="modal" data-target="#passwordModal") {{ $t('Btn.Modify'/*修改*/) }}
                        .MemberDetail.text-left.d-flex.flex-row.justify-content-between.align-items-center
                          .MemberInfo
                            .MemberTitle {{ $t('Member.Phone'/*手機號碼：*/) }}
                            .MemberCont 0987654321
                          el-button.BtnBlue(type="button" data-toggle="modal" data-target="#phoneModal") {{ $t('Btn.Modify'/*修改*/) }}
                        .MemberDetail.text-left.d-flex.flex-row.justify-content-between.align-items-center
                          .MemberInfo
                            .MemberTitle {{ $t('Member.Email'/*電子信箱：*/) }}
                            .MemberCont futainpay@futainpay.com
                          el-button.BtnBlue(type="button" data-toggle="modal" data-target="#emailModal") {{ $t('Btn.Modify'/*修改*/) }}
                        .MemberDetail.text-left.d-flex.flex-row.justify-content-between.align-items-center
                          .MemberInfo
                            .MemberTitle {{ $t('Member.Address'/*地址：*/) }}
                            .MemberCont Taipei
                          el-button.BtnBlue(type="button" data-toggle="modal" data-target="#addressModal") {{ $t('Btn.Modify'/*修改*/) }}
                        .MemberDetail.text-left.d-flex.flex-row.justify-content-between.align-items-center
                          .MemberInfo
                            .MemberTitle {{ $t('Member.Skype'/*Skype：*/) }}
                            .MemberCont futainpay@futainpay.com
                          el-button.BtnBlue(type="button" data-toggle="modal" data-target="#skypeModal") {{ $t('Btn.Modify'/*修改*/) }}
                        .MemberDetail.text-left.d-flex.flex-row.justify-content-between.align-items-center
                          .MemberInfo
                            .MemberTitle {{ $t('Member.Telegram'/*Telegram：*/) }}
                            .MemberCont 0987654321
                          el-button.BtnBlue(type="button" data-toggle="modal" data-target="#telegramModal") {{ $t('Btn.Modify'/*修改*/) }}

                      .col-lg-6.px-0
                        .sticky-top.vh-lg-100.py-9
                          .bg-holder(style="background-image:url(assets/img/banner/MemberBanner.jpg);")

                  //- 修改密碼
                  #passwordModal.modal.fade.fade-in(tabindex="-1" role="dialog" aria-hidden="true")
                    .modal-dialog.modal-dialog-centered(role="document")
                      .modal-content
                        .modal-header
                          span {{ $t('Member.EditPassword'/*修改密碼*/) }}
                          el-button(type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close")
                        .modal-body
                          el-form.MemberForm.text-center.px-4
                            el-form-item(:label="$t('Member.LabelOldPassword'/*舊密碼：*/)")
                              el-input(type="password", v-model="memberForm.OldPassword", :placeholder="$t('Member.InputPassword'/*請輸入密碼*/)")
                            el-form-item(:label="$t('Member.LabelPassword'/*新密碼：*/)")
                              el-input(type="password", v-model="memberForm.Password", :placeholder="$t('Member.InputPassword'/*請輸入密碼*/)")
                            el-form-item(:label="$t('Member.LabelCheckPassword'/*確認密碼：*/)")
                              el-input(type="password", v-model="memberForm.CheckPassword", :placeholder="$t('Member.InputCheckPassword'/*請再次輸入密碼*/)")
                        .modal-footer
                          el-button.BtnBlue(type="button" data-dismiss="modal") {{ $t('Btn.Cancel'/*取消*/) }}
                          el-button.BtnRed(type="submit") {{ $t('Btn.Submit'/*送出*/) }}

                  //- 修改手機
                  #phoneModal.modal.fade.fade-in(tabindex="-1" role="dialog" aria-hidden="true")
                    .modal-dialog.modal-dialog-centered(role="document")
                      .modal-content
                        .modal-header
                          span {{ $t('Member.EditPhone'/*修改手機*/) }}
                          el-button(type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close")
                        .modal-body
                          el-form.MemberForm.text-center.px-4
                            el-form-item(:label="$t('Member.LabelPhone'/*手機號碼：*/)")
                              el-input(type="tel", v-model="memberForm.Phone", :placeholder="$t('Member.InputPhone'/*請輸入正確手機號碼*/)")
                        .modal-footer
                          el-button.BtnBlue(type="button" data-dismiss="modal") {{ $t('Btn.Cancel'/*取消*/) }}
                          el-button.BtnRed(type="submit") {{ $t('Btn.Submit'/*送出*/) }}

                  //- 修改信箱
                  #emailModal.modal.fade.fade-in(tabindex="-1" role="dialog" aria-hidden="true")
                    .modal-dialog.modal-dialog-centered(role="document")
                      .modal-content
                        .modal-header
                          span {{ $t('Member.EditEmail'/*修改信箱*/) }}
                          el-button(type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close")
                        .modal-body
                          el-form.MemberForm.text-center.px-4
                            el-form-item(:label="$t('Member.LabelEmail'/*電子信箱：*/)")
                              el-input(type="email", v-model="memberForm.Email", :placeholder="$t('Member.InputEmail'/*請輸入E-mail*/)")
                        .modal-footer
                          el-button.BtnBlue(type="button" data-dismiss="modal") {{ $t('Btn.Cancel'/*取消*/) }}
                          el-button.BtnRed(type="submit") {{ $t('Btn.Submit'/*送出*/) }}

                  //- 修改地址
                  #addressModal.modal.fade.fade-in(tabindex="-1" role="dialog" aria-hidden="true")
                    .modal-dialog.modal-dialog-centered(role="document")
                      .modal-content
                        .modal-header
                          span {{ $t('Member.EditAddress'/*修改地址*/) }}
                          el-button(type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close")
                        .modal-body
                          el-form.MemberForm.text-center.px-4
                            el-form-item(:label="$t('Member.LabelAddress'/*地址：*/)")
                              el-input(type="email", v-model="memberForm.Address", :placeholder="$t('Member.InputAddress'/*請輸入正確地址*/)")
                        .modal-footer
                          el-button.BtnBlue(type="button" data-dismiss="modal") {{ $t('Btn.Cancel'/*取消*/) }}
                          el-button.BtnRed(type="submit") {{ $t('Btn.Submit'/*送出*/) }}

                  //- 修改Skype
                  #skypeModal.modal.fade.fade-in(tabindex="-1" role="dialog" aria-hidden="true")
                    .modal-dialog.modal-dialog-centered(role="document")
                      .modal-content
                        .modal-header
                          span {{ $t('Member.EditSkype'/*修改Skype*/) }}
                          el-button(type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close")
                        .modal-body
                          el-form.MemberForm.text-center.px-4
                            el-form-item(:label="$t('Member.LabelSkype'/*Skype：*/)")
                              el-input(type="email", v-model="memberForm.Skype", :placeholder="$t('Member.InputSkype'/*請輸入Skype*/)")
                        .modal-footer
                          el-button.BtnBlue(type="button" data-dismiss="modal") {{ $t('Btn.Cancel'/*取消*/) }}
                          el-button.BtnRed(type="submit") {{ $t('Btn.Submit'/*送出*/) }}

                  //- 修改Telegram
                  #telegramModal.modal.fade.fade-in(tabindex="-1" role="dialog" aria-hidden="true")
                    .modal-dialog.modal-dialog-centered(role="document")
                      .modal-content
                        .modal-header
                          span {{ $t('Member.EditTelegram'/*修改Telegram*/) }}
                          el-button(type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close")
                        .modal-body
                          el-form.MemberForm.text-center.px-4
                            el-form-item(:label="$t('Member.LabelTelegram'/*Telegram：*/)")
                              el-input(type="email", v-model="memberForm.Telegram", :placeholder="$t('Member.InputTelegram'/*請輸入Telegram*/)")
                        .modal-footer
                          el-button.BtnBlue(type="button" data-dismiss="modal") {{ $t('Btn.Cancel'/*取消*/) }}
                          el-button.BtnRed(type="submit") {{ $t('Btn.Submit'/*送出*/) }}

                  //- 訂單查詢
                  el-tab-pane(:label="$t('Member.Order'/*訂單查詢*/)" name="order" data-rellax-speed="1" data-zanim-xs='{"from":{"opacity":0,"y":-150,"scale":1},"to":{"opacity":1,"y":0,"scale":1},"ease":"Back.easeOut","duration":1,"delay":1}')
                    .row.justify-content-center.justify-content-lg-between.pt-4
                      .col-lg-auto.text-lg-left.text-center
                        el-form.SearchForm.d-flex.flex-column.flex-lg-row
                          //- Select
                          el-form-item.mr-lg-3.mr-0(label='')
                            el-select(v-model="orderSelect", :placeholder="$t('Member.OptionOne'/*请选择*/)", clearable)
                              el-option(value="1" :label="$t('Member.OptionTwo'/*訂單編號*/)")
                              el-option(value="2" :label="$t('Member.OptionThree'/*配送方式*/)")
                              el-option(value="3" :label="$t('Member.OptionFour'/*是否付款*/)")
                          //- Search
                          el-form-item(label='')
                            el-input(v-model="orderSearch", :placeholder="$t('Member.InputOrderSearch'/*请输入内容*/)", clearable)
                              el-button(slot="append" icon="el-icon-search" @click='')
                      //- Pagination
                      .col-lg-6.text-lg-right.text-center
                        el-pagination.Pagination.OrderPagination(@current-change="handleCurrentChange", :page-size='pageSize', :pager-count='pagerCount', :total='total', :current-page.sync="curretPage", layout="prev, pager, next", background)

                    //- -------------------- PC版面 --------------------
                    .row.pt-4.pb-4.pb-lg-5.d-lg-block.d-none
                      .col-12
                        //- 訂單項目
                        .row.OrderListItem.d-flex.flex-row.py-3
                          .col-2.text-center
                            .OrderListItemName {{ $t('Member.OrderNo'/*訂單編號*/) }}
                          .col-2.text-center
                            .OrderListItemName {{ $t('Member.OrderDate'/*訂單日期*/) }}
                          .col-2.text-center
                            .OrderListItemName {{ $t('Member.OrderAmount'/*訂單金額*/) }}
                          .col-2.text-center
                            .OrderListItemName {{ $t('Member.DeliveryMode'/*配送方式*/) }}
                          .col-2.text-center
                            .OrderListItemName {{ $t('Member.Payment'/*是否付款*/) }}
                          .col-2.text-center
                            .OrderListItemName {{ $t('Member.Commodity'/*購買商品*/) }}
                        //- 訂單列表
                        .row.OrderList.d-flex.flex-row.justify-content-center.align-items-center.py-3.text-center
                          .col-2 2020111501
                          .col-2 2020/11/15
                          .col-2
                            h6.fs-0.font-weight-normal.mb-0.TextR $200.00
                          .col-2 全家店到店
                          .col-2.text-success 已付款
                          .col-2
                            el-button.BtnBlue(type="button" data-toggle="modal" data-target="#DetailModal1") {{ $t('Btn.View'/*查看*/) }}

                        .row.OrderList.d-flex.flex-row.justify-content-center.align-items-center.py-3.text-center
                          .col-2 2020111401
                          .col-2 2020/11/14
                          .col-2
                            h6.fs-0.font-weight-normal.mb-0.TextR $1500.00
                          .col-2 
                          .col-2.text-warning 待付款
                          .col-2
                            el-button.BtnBlue(type="button" data-toggle="modal" data-target="#DetailModal2") {{ $t('Btn.View'/*查看*/) }}

                        .row.OrderList.d-flex.flex-row.justify-content-center.align-items-center.py-3.text-center
                          .col-2 2020111101
                          .col-2 2020/11/11
                          .col-2
                            h6.fs-0.font-weight-normal.mb-0.TextR $2500.00
                          .col-2 7-11店到店
                          .col-2.text-danger 已取消
                          .col-2
                            el-button.BtnBlue(type="button" data-toggle="modal" data-target="#DetailModal3") {{ $t('Btn.View'/*查看*/) }}
                    //- -------------------- PC版面 End --------------------

                    //- -------------------- Mobile版面 --------------------
                    .row.pt-4.pb-4.pb-lg-5.d-lg-none
                      .col-12
                        //- 訂單列表
                        .row.OrderList.d-flex.flex-column.justify-content-center.align-items-center.py-3.text-center
                          .col-12.d-flex.flex-row.align-items-center.py-1
                            .OrderListTitle.text-right {{ $t('Member.OrderNo'/*訂單編號*/) }}：
                            span 2020111501
                          .col-12.d-flex.flex-row.align-items-center.py-1
                            .OrderListTitle.text-right {{ $t('Member.OrderDate'/*訂單日期*/) }}：
                            span 2020/11/15
                          .col-12.d-flex.flex-row.align-items-center.py-1
                            .OrderListTitle.text-right {{ $t('Member.OrderAmount'/*訂單金額*/) }}： 
                            h6.fs-0.font-weight-normal.mb-0.TextR $200.00
                          .col-12.d-flex.flex-row.align-items-center.py-1
                            .OrderListTitle.text-right {{ $t('Member.DeliveryMode'/*配送方式*/) }}：
                            span 全家店到店
                          .col-12.d-flex.flex-row.align-items-center.py-1
                            .OrderListTitle.text-right {{ $t('Member.Payment'/*是否付款*/) }}：
                            span.text-success 已付款
                          .col-12.pt-3
                            el-button.BtnBlue(type="button" data-toggle="modal" data-target="#DetailModal1") {{ $t('Btn.View'/*查看*/) }}

                        .row.OrderList.d-flex.flex-column.justify-content-center.align-items-center.py-3.text-center
                            .col-12.d-flex.flex-row.align-items-center.py-1
                              .OrderListTitle.text-right {{ $t('Member.OrderNo'/*訂單編號*/) }}：
                              span 2020111401
                            .col-12.d-flex.flex-row.align-items-center.py-1
                              .OrderListTitle.text-right {{ $t('Member.OrderDate'/*訂單日期*/) }}：
                              span 2020/11/14
                            .col-12.d-flex.flex-row.align-items-center.py-1
                              .OrderListTitle.text-right {{ $t('Member.OrderAmount'/*訂單金額*/) }}： 
                              h6.fs-0.font-weight-normal.mb-0.TextR $1500.00
                            .col-12.d-flex.flex-row.align-items-center.py-1
                              .OrderListTitle.text-right {{ $t('Member.DeliveryMode'/*配送方式*/) }}：
                              span 
                            .col-12.d-flex.flex-row.align-items-center.py-1
                              .OrderListTitle.text-right {{ $t('Member.Payment'/*是否付款*/) }}：
                              span.text-warning 待付款
                            .col-12.pt-3
                              el-button.BtnBlue(type="button" data-toggle="modal" data-target="#DetailModal2") {{ $t('Btn.View'/*查看*/) }}

                        .row.OrderList.d-flex.flex-column.justify-content-center.align-items-center.py-3.text-center
                            .col-12.d-flex.flex-row.align-items-center.py-1
                              .OrderListTitle.text-right {{ $t('Member.OrderNo'/*訂單編號*/) }}：
                              span 2020111101
                            .col-12.d-flex.flex-row.align-items-center.py-1
                              .OrderListTitle.text-right {{ $t('Member.OrderDate'/*訂單日期*/) }}：
                              span 2020/11/11
                            .col-12.d-flex.flex-row.align-items-center.py-1
                              .OrderListTitle.text-right {{ $t('Member.OrderAmount'/*訂單金額*/) }}： 
                              h6.fs-0.font-weight-normal.mb-0.TextR $2500.00
                            .col-12.d-flex.flex-row.align-items-center.py-1
                              .OrderListTitle.text-right {{ $t('Member.DeliveryMode'/*配送方式*/) }}：
                              span 7-11店到店
                            .col-12.d-flex.flex-row.align-items-center.py-1
                              .OrderListTitle.text-right {{ $t('Member.Payment'/*是否付款*/) }}：
                              span.text-danger 已取消
                            .col-12.pt-3
                              el-button.BtnBlue(type="button" data-toggle="modal" data-target="#DetailModal3") {{ $t('Btn.View'/*查看*/) }}

                    //- -------------------- Mobile版面 End --------------------

                    //- Pagination
                    .row.justify-content-center.text-center
                      .col-12.justify-content-center.text-lg-right.text-center
                        el-pagination.Pagination(@current-change="handleCurrentChange", :page-size='pageSize', :pager-count='pagerCount', :total='total', :current-page.sync="curretPage", layout="prev, pager, next", background)

                  //- 商品詳情01
                  #DetailModal1.modal.fade.fade-in(tabindex="-1" role="dialog" aria-hidden="true")
                    .modal-dialog.modal-dialog-centered(role="document")
                      .modal-content
                        .modal-header
                          span {{ $t('Member.CommodityDetail'/*商品詳情*/) }}
                          el-button(type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close")
                        .modal-body
                          .ShopCont.d-flex.flex-column.justify-content-center.align-items-center
                            .ShopImg.overflow-hidden.d-flex.justify-content-center.align-items-center
                              img.h-lg-100.w-lg-auto.h-100(src="assets/img/shopImg/01.png" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}')
                            .overflow-hidden.d-flex.flex-column.align-items-center.text-center.px-3
                              .ShopName(data-zanim-xs='{"delay":0.2}') DemoProduct01
                              .ShopAmount.d-flex.flex-row.justify-content-center.align-items-center(data-zanim-xs='{"delay":0.3}')
                                del.Rebate $499.00
                                .NewAmount $200.00
                        .modal-footer
                          el-button.BtnBlue(type="button" data-dismiss="modal") {{ $t('Btn.Close'/*關閉*/) }}

                  //- 商品詳情02
                  #DetailModal2.modal.fade.fade-in(tabindex="-1" role="dialog" aria-hidden="true")
                    .modal-dialog.modal-dialog-centered(role="document")
                      .modal-content
                        .modal-header
                          span {{ $t('Member.CommodityDetail'/*商品詳情*/) }}
                          el-button(type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close")
                        .modal-body
                          .ShopCont.d-flex.flex-column.justify-content-center.align-items-center
                            .ShopImg.overflow-hidden.d-flex.justify-content-center.align-items-center
                              img.h-lg-100.w-lg-auto.h-100(src="assets/img/shopImg/02.png" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}')
                            .overflow-hidden.d-flex.flex-column.align-items-center.text-center.px-3
                              .ShopName(data-zanim-xs='{"delay":0.2}') DemoProduct02
                              .ShopAmount.d-flex.flex-row.justify-content-center.align-items-center(data-zanim-xs='{"delay":0.3}')
                                del.Rebate $2499.00
                                .NewAmount $1500.00
                        .modal-footer
                          el-button.BtnBlue(type="button" data-dismiss="modal") {{ $t('Btn.Close'/*關閉*/) }}

                  //- 商品詳情03
                  #DetailModal3.modal.fade.fade-in(tabindex="-1" role="dialog" aria-hidden="true")
                    .modal-dialog.modal-dialog-centered(role="document")
                      .modal-content
                        .modal-header
                          span {{ $t('Member.CommodityDetail'/*商品詳情*/) }}
                          el-button(type="text" data-dismiss="modal" aria-label="Close" icon="el-icon-close")
                        .modal-body
                          .ShopCont.d-flex.flex-column.justify-content-center.align-items-center
                            .ShopImg.overflow-hidden.d-flex.justify-content-center.align-items-center
                              img.h-lg-100.w-lg-auto.h-100(src="assets/img/shopImg/03.png" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}')
                            .overflow-hidden.d-flex.flex-column.align-items-center.text-center.px-3
                              .ShopName(data-zanim-xs='{"delay":0.2}') DemoProduct03
                              .ShopAmount.d-flex.flex-row.justify-content-center.align-items-center(data-zanim-xs='{"delay":0.3}')
                                del.Rebate $5499.00
                                .NewAmount $2500.00
                        .modal-footer
                          el-button.BtnBlue(type="button" data-dismiss="modal") {{ $t('Btn.Close'/*關閉*/) }}

        //- <section> Company
        include company.pug
      //- Footer Copyright
      include footer.pug
    //- Bootstrap JavaScript
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/popper.min.js")
    script(src="assets/js/bootstrap.js")
    script(src="assets/js/plugins.js")
    script(src="assets/lib/loaders.css/loaders.css.js")
    script(src="assets/js/stickyfill.min.js")
    script(src="assets/lib/is_js/is.min.js")
    script(src="assets/lib/jtap/jquery.tap.js")
    script(src="assets/js/rellax.min.js")
    script(src="assets/lib/fancybox/jquery.fancybox.min.js")
    script(src="assets/lib/owl.carousel/owl.carousel.js")
    script(src="assets/js/theme.js")
    //- Vue
    script(src='assets/js/vue.js')
    script(src='assets/js/httpVueLoader.js')
    //- i18n
    script(src='assets/js/vue-i18n.min.js')
    //- Element
    script(src="assets/js/element-ui.js")
    //- Function
    script(src='assets/js/main.js' type='module')