doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- Document Title
    title 得藝文創國際股份有限公司 Double Edge Entertainment Corp.
    //- Favicons
    link(rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png")
    link(rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico")
    link(rel="manifest" href="assets/img/favicons/manifest.json")
    meta(name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png")
    meta(name="theme-color" content="#ffffff")
    //- Stylesheets
    link(rel="stylesheet" href="assets/lib/loaders.css/loaders.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900")
    link(rel="stylesheet" href="assets/lib/fancybox/jquery.fancybox.min.css")
    link(rel="stylesheet" href="assets/lib/owl.carousel/owl.carousel.css")
    link(rel="stylesheet" href="assets/css/theme.css")
    //- Theme CSS
    link(rel="stylesheet" href="assets/css/main.css")
    //- Element
    link(rel="stylesheet" href="assets/css/element-ui.css")
    //- Other
    link(rel="stylesheet" href="assets/css/font-awesome.css")
    link(rel="stylesheet" href="assets/css/style.css")
    link(rel="stylesheet" href="assets/css/prettyPhoto.css")
    link(rel="stylesheet" href="assets/css/owl.carousel.css")
    link(rel="stylesheet" href="assets/css/owl.theme.css")
    link(rel="stylesheet" href="assets/css/responsive.css")
  body
    #film
      //- Navigation
      include navi.pug

      //- Fixed
      include fixed.pug

      //- Main Content
      main#top.main.min-vh-100
        //- Preloader
        include preloader.pug

        //- <section> NewsBanner
        include newsBanner.pug

        //- <section> NewsList
        section#page-news.py-lg-5.News.overflow-hidden
          .container
            .row.justify-content-center.text-center
              .col-lg-7.TitleFormB
                h2.Title {{ $t('News.Title'/*NEWS*/) }}
                .MainTitle {{ $t('News.MainTitle'/*最新消息*/) }}

            //- Pagination
            //- .row.justify-content-center.text-center
              .col-lg-5.justify-content-center.text-center.pt-3
                el-pagination.Pagination(@current-change="handleCurrentChange", :page-size='pageSize', :pager-count='pagerCount', :total='total', :current-page.sync="curretPage", layout="prev, pager, next", background)

            //- NewsList Content
            .row.justify-content-center.justify-content-lg-between.pt-5(v-for='(item, index) in news' :key='index')
              .col-lg-3
                //- 影片
                //- .h-100.position-relative
                  .bg-holder.rounded(style="background-image:url(assets/img/necklace-01.jpg);")
                    .bg-youtube(data-property='{"videoURL":"https://youtu.be/NA4Wa9E5Kpo","startAt":40,"stopAt":27,"mute":true,"showYTLogo":false}')
                //- 圖片
                img.h-lg-100.w-100.rounded.fit-cover(:src="item.img" alt="")
                //- 輪播圖片
                //- .carousel.slide(data-ride="carousel" :id="'carouselExampleIndicators' + index")
                  ol.carousel-indicators
                    li(v-for='(itemImg, index) in item.imgs' :key='index' :class="index === 0 ? 'active' : ''" :data-target="'#carouselExampleIndicators' + index", :data-slide-to="index")
                  .carousel-inner
                    .carousel-item(v-for='(itemImg, index) in item.imgs' :key='index' :class="index === 0 ? 'active' : ''")
                      img.d-block.w-100(:src="itemImg.url", alt="")
                  a.carousel-control-prev(:href="'#carouselExampleIndicators' + index", role="button", data-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.sr-only Previous
                  a.carousel-control-next(:href="'#carouselExampleIndicators' + index", role="button", data-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.sr-only Next
              a.col-lg-9.pl-3.py-3.mt-4.mt-lg-0.NewsLink(:href="'newsDetail.html?newsId=' + index")
                .text-sans-serif.fs-1.mb-2
                  span.NewsTitle.text-warning.font-weight-black {{ item.title }}
                  span.fs-0  - {{ item.update }}
                .text-black
                  h3.mb-0 {{ item.subLabel }}
                .NewsInfo.lead.text-sans-serif {{ item.info }}
                .list-unstyled.mt-1.mb-0
                  .fs-0
                      span.font-weight-bold {{ $t('News.FilmLength'/*片長*/) }}:
                      span.font-weight-normal.pl-1.pr-3 {{ item.filmLength }}{{ $t('News.Minute'/*分*/) }}
                      span.font-weight-bold {{ $t('News.ReleaseDate'/*上映日期*/) }}:
                      span.font-weight-normal.pl-1 {{ item.releaseDate }}


            //- Pagination
            //- .row.justify-content-center.text-center
              .col-lg-5.justify-content-center.text-center
                el-pagination.Pagination(@current-change="handleCurrentChange", :page-size='pageSize', :pager-count='pagerCount', :total='total', :current-page.sync="curretPage", layout="prev, pager, next", background)

        //- <section> Company
        //- include company.pug

      //- Footer Copyright
      include footer.pug

    //- jQuery JavaScript
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.prettyPhoto.js")
    script(src="assets/js/jquery.isotope.js")
    //- Bootstrap JavaScript
    script(src="assets/js/bootstrap.js")
    //- JavaScript
    script(src="assets/js/popper.min.js")
    script(src="assets/js/plugins.js")
    script(src="assets/lib/loaders.css/loaders.css.js")
    script(src="assets/js/stickyfill.min.js")
    script(src="assets/lib/is_js/is.min.js")
    script(src="assets/lib/jtap/jquery.tap.js")
    script(src="assets/js/rellax.min.js")
    script(src="assets/lib/fancybox/jquery.fancybox.min.js")
    script(src="assets/lib/owl.carousel/owl.carousel.js")
    script(src="assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js")
    script(src="assets/js/theme.js")
    //- Vue
    script(src='assets/js/vue.min.js')
    script(src='assets/js/httpVueLoader.js')
    //- i18n
    script(src='assets/js/vue-i18n.min.js')
    //- Element
    script(src="assets/js/element-ui.js")
    //- Function
    script(src='assets/js/filmMain.js' type='module')