section#page-banner.py-0.overflow-hidden
  .bg-holder(data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll" style="background-image:url(assets/img/newsBanner/newsBanner.jpg);")
  .container
    .row
      .col-9.pt-9.pb-7
        .media
          .media-body.pl-3
            .overflow-hidden
              h2.fs-2.fs-lg-4.text-white.display-4.display-lg-4.pb-2(data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll")
                span(style="opacity: 1;") {{ $t('NewsBanner.Title'/*最新消息*/) }}
            .overflow-hidden
              h5.ls-1.text-white.text-uppercase.mb-0(data-zanim-xs='{"delay":0.8}' data-zanim-trigger="scroll")
                span(style="opacity: 1;") {{ $t('NewsBanner.MainTitle'/*得藝電影製作、發行、銷售*/) }}