
<section class="py-0 overflow-hidden IndexBanner" id="digital-header">
  <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel">
    <ol class="carousel-indicators">
      <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active overflow-hidden">
        <div class="bg-holder digital-header overlay-1 d-none d-lg-block" style="background-image:url(assets/img/indexBanner/Banner01.jpg);" data-zanim-xs="{&quot;delay&quot;:0,&quot;animation&quot;:&quot;zoom-out&quot;}" data-zanim-trigger="scroll"></div>
        <div class="bg-holder digital-header overlay-1 d-block d-lg-none" style="background-image:url(assets/img/indexBanner/Banner_s01.jpg);" data-zanim-xs="{&quot;delay&quot;:0,&quot;animation&quot;:&quot;zoom-out&quot;}" data-zanim-trigger="scroll"></div>
        <div class="container IndexBannerContent">
          <div class="row min-vh-100 align-items-center align-items-lg-end py-lg-10 pt-10 justify-content-center text-left">
            <div class="col-lg-9 col-xl-8" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="text-white overflow-hidden parallax" data-rellax-speed="3">
                <div class="font-weight-normal" data-zanim-xs="{&quot;delay&quot;:1,&quot;duration&quot;:1.5}">
                  <h3 class="Title">{{ $t('IndexBanner.Title01'/*單身動物園*/) }}</h3>
                </div>
              </div>
              <div class="text-white parallax" data-rellax-speed="2"><span class="overflow-hidden d-block" v-if="language !== &quot;en&quot; &amp;&amp; language !== &quot;jp&quot;"><span class="d-inline-block MainTitle" data-zanim-xs="{&quot;delay&quot;:1,&quot;duration&quot;:1.5}">
                    <h6 class="MainTitleOne d-inline">{{ $t('IndexBanner.MainTitleOne01'/*The Lobster*/) }}</h6></span></span><span class="overflow-hidden d-block">
                  <h6 class="MainTitleTwo d-inline-block d-block" data-zanim-xs="{&quot;delay&quot;:1,&quot;duration&quot;:1.5}">{{ $t('IndexBanner.MainTitleTwo01'/*黑色幽默愛情片*/) }}</h6></span></div>
              <div class="text-white overflow-hidden parallax" data-rellax-speed="1">
                <div class="font-weight-normal d-flex flex-column" data-zanim-xs="{&quot;delay&quot;:1,&quot;duration&quot;:1.5}"><span class="Subheading d-inline-block">{{ $t('IndexBanner.SubheadingOne01'/*柯林法洛、蕾雅瑟杜、瑞秋懷茲、班維蕭主演*/) }}</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="AnimateBg" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <div class="BgR" data-rellax-speed="1" data-zanim-xs="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;y&quot;:150,&quot;scale&quot;:1},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;y&quot;:0,&quot;scale&quot;:1},&quot;ease&quot;:&quot;Back.easeOut&quot;,&quot;duration&quot;:1.5,&quot;delay&quot;:2}"><img src="assets/img/indexBanner/BgR.svg"/></div>
          <div class="BgY" data-rellax-speed="1" data-zanim-xs="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;y&quot;:-150,&quot;scale&quot;:1},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;y&quot;:0,&quot;scale&quot;:1},&quot;ease&quot;:&quot;Back.easeOut&quot;,&quot;duration&quot;:1.5,&quot;delay&quot;:1}"><img src="assets/img/indexBanner/BgY.svg"/></div>
        </div>
      </div>
      <div class="carousel-item overflow-hidden">
        <div class="bg-holder digital-header overlay-1 d-none d-lg-block" style="background-image:url(assets/img/indexBanner/Banner02.jpg);" data-zanim-xs="{&quot;delay&quot;:0,&quot;animation&quot;:&quot;zoom-out&quot;}" data-zanim-trigger="scroll"></div>
        <div class="bg-holder digital-header overlay-1 d-block d-lg-none" style="background-image:url(assets/img/indexBanner/Banner_s02.jpg);" data-zanim-xs="{&quot;delay&quot;:0,&quot;animation&quot;:&quot;zoom-out&quot;}" data-zanim-trigger="scroll"></div>
        <div class="container IndexBannerContent">
          <div class="row min-vh-100 align-items-center align-items-lg-end py-lg-10 pt-10 justify-content-center text-left">
            <div class="col-lg-9 col-xl-8" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="text-white overflow-hidden parallax" data-rellax-speed="3">
                <div class="font-weight-normal" data-zanim-xs="{&quot;delay&quot;:1,&quot;duration&quot;:1.5}">
                  <h3 class="Title">{{ $t('IndexBanner.Title02'/*單身動物園*/) }}</h3>
                </div>
              </div>
              <div class="text-white parallax" data-rellax-speed="2"><span class="overflow-hidden d-block" v-if="language !== &quot;en&quot; &amp;&amp; language !== &quot;jp&quot;"><span class="d-inline-block MainTitle" data-zanim-xs="{&quot;delay&quot;:1,&quot;duration&quot;:1.5}">
                    <h6 class="MainTitleOne d-inline">{{ $t('IndexBanner.MainTitleOne02'/*The Lobster*/) }}</h6></span></span><span class="overflow-hidden d-block">
                  <h6 class="MainTitleTwo d-inline-block d-block" data-zanim-xs="{&quot;delay&quot;:1,&quot;duration&quot;:1.5}">{{ $t('IndexBanner.MainTitleTwo02'/*黑色幽默愛情片*/) }}</h6></span></div>
              <div class="text-white overflow-hidden parallax" data-rellax-speed="1">
                <div class="font-weight-normal d-flex flex-column" data-zanim-xs="{&quot;delay&quot;:1,&quot;duration&quot;:1.5}"><span class="Subheading d-inline-block">{{ $t('IndexBanner.SubheadingOne02'/*柯林法洛、蕾雅瑟杜、瑞秋懷茲、班維蕭主演*/) }}</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="AnimateBg" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <div class="BgR" data-rellax-speed="1" data-zanim-xs="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;y&quot;:150,&quot;scale&quot;:1},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;y&quot;:0,&quot;scale&quot;:1},&quot;ease&quot;:&quot;Back.easeOut&quot;,&quot;duration&quot;:1.5,&quot;delay&quot;:2}"><img src="assets/img/indexBanner/BgR.svg"/></div>
          <div class="BgY" data-rellax-speed="1" data-zanim-xs="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;y&quot;:-150,&quot;scale&quot;:1},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;y&quot;:0,&quot;scale&quot;:1},&quot;ease&quot;:&quot;Back.easeOut&quot;,&quot;duration&quot;:1.5,&quot;delay&quot;:1}"><img src="assets/img/indexBanner/BgY.svg"/></div>
        </div>
      </div>
      <div class="carousel-item overflow-hidden">
        <div class="bg-holder digital-header overlay-1 d-none d-lg-block" style="background-image:url(assets/img/indexBanner/Banner03.jpg);" data-zanim-xs="{&quot;delay&quot;:0,&quot;animation&quot;:&quot;zoom-out&quot;}" data-zanim-trigger="scroll"></div>
        <div class="bg-holder digital-header overlay-1 d-block d-lg-none" style="background-image:url(assets/img/indexBanner/Banner_s03.jpg);" data-zanim-xs="{&quot;delay&quot;:0,&quot;animation&quot;:&quot;zoom-out&quot;}" data-zanim-trigger="scroll"></div>
        <div class="container IndexBannerContent">
          <div class="row min-vh-100 align-items-center align-items-lg-end py-lg-10 pt-10 justify-content-center text-left">
            <div class="col-lg-9 col-xl-8" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="text-white overflow-hidden parallax" data-rellax-speed="3">
                <div class="font-weight-normal" data-zanim-xs="{&quot;delay&quot;:1,&quot;duration&quot;:1.5}">
                  <h3 class="Title">{{ $t('IndexBanner.Title03'/*單身動物園*/) }}</h3>
                </div>
              </div>
              <div class="text-white parallax" data-rellax-speed="2"><span class="overflow-hidden d-block" v-if="language !== &quot;en&quot; &amp;&amp; language !== &quot;jp&quot;"><span class="d-inline-block MainTitle" data-zanim-xs="{&quot;delay&quot;:1,&quot;duration&quot;:1.5}">
                    <h6 class="MainTitleOne d-inline">{{ $t('IndexBanner.MainTitleOne03'/*The Lobster*/) }}</h6></span></span><span class="overflow-hidden d-block">
                  <h6 class="MainTitleTwo d-inline-block d-block" data-zanim-xs="{&quot;delay&quot;:1,&quot;duration&quot;:1.5}">{{ $t('IndexBanner.MainTitleTwo03'/*黑色幽默愛情片*/) }}</h6></span></div>
              <div class="text-white overflow-hidden parallax" data-rellax-speed="1">
                <div class="font-weight-normal d-flex flex-column" data-zanim-xs="{&quot;delay&quot;:1,&quot;duration&quot;:1.5}"><span class="Subheading d-inline-block">{{ $t('IndexBanner.SubheadingOne03'/*柯林法洛、蕾雅瑟杜、瑞秋懷茲、班維蕭主演*/) }}</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="AnimateBg" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <div class="BgR" data-rellax-speed="1" data-zanim-xs="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;y&quot;:150,&quot;scale&quot;:1},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;y&quot;:0,&quot;scale&quot;:1},&quot;ease&quot;:&quot;Back.easeOut&quot;,&quot;duration&quot;:1.5,&quot;delay&quot;:2}"><img src="assets/img/indexBanner/BgR.svg"/></div>
          <div class="BgY" data-rellax-speed="1" data-zanim-xs="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;y&quot;:-150,&quot;scale&quot;:1},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;y&quot;:0,&quot;scale&quot;:1},&quot;ease&quot;:&quot;Back.easeOut&quot;,&quot;duration&quot;:1.5,&quot;delay&quot;:1}"><img src="assets/img/indexBanner/BgY.svg"/></div>
        </div>
      </div>
      <div class="carousel-item overflow-hidden">
        <div class="bg-holder digital-header overlay-1 d-none d-lg-block" style="background-image:url(assets/img/indexBanner/Banner04.jpg);" data-zanim-xs="{&quot;delay&quot;:0,&quot;animation&quot;:&quot;zoom-out&quot;}" data-zanim-trigger="scroll"></div>
        <div class="bg-holder digital-header overlay-1 d-block d-lg-none" style="background-image:url(assets/img/indexBanner/Banner_s04.jpg);" data-zanim-xs="{&quot;delay&quot;:0,&quot;animation&quot;:&quot;zoom-out&quot;}" data-zanim-trigger="scroll"></div>
        <div class="container IndexBannerContent">
          <div class="row min-vh-100 align-items-center align-items-lg-end py-lg-10 pt-10 justify-content-center text-left">
            <div class="col-lg-9 col-xl-8" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="text-white overflow-hidden parallax" data-rellax-speed="3">
                <div class="font-weight-normal" data-zanim-xs="{&quot;delay&quot;:1,&quot;duration&quot;:1.5}">
                  <h3 class="Title">{{ $t('IndexBanner.Title04'/*單身動物園*/) }}</h3>
                </div>
              </div>
              <div class="text-white parallax" data-rellax-speed="2"><span class="overflow-hidden d-block" v-if="language !== &quot;en&quot; &amp;&amp; language !== &quot;jp&quot;"><span class="d-inline-block MainTitle" data-zanim-xs="{&quot;delay&quot;:1,&quot;duration&quot;:1.5}">
                    <h6 class="MainTitleOne d-inline">{{ $t('IndexBanner.MainTitleOne04'/*The Lobster*/) }}</h6></span></span><span class="overflow-hidden d-block">
                  <h6 class="MainTitleTwo d-inline-block d-block" data-zanim-xs="{&quot;delay&quot;:1,&quot;duration&quot;:1.5}">{{ $t('IndexBanner.MainTitleTwo04'/*黑色幽默愛情片*/) }}</h6></span></div>
              <div class="text-white overflow-hidden parallax" data-rellax-speed="1">
                <div class="font-weight-normal d-flex flex-column" data-zanim-xs="{&quot;delay&quot;:1,&quot;duration&quot;:1.5}"><span class="Subheading d-inline-block">{{ $t('IndexBanner.SubheadingOne04'/*柯林法洛、蕾雅瑟杜、瑞秋懷茲、班維蕭主演*/) }}</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="AnimateBg" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <div class="BgR" data-rellax-speed="1" data-zanim-xs="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;y&quot;:150,&quot;scale&quot;:1},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;y&quot;:0,&quot;scale&quot;:1},&quot;ease&quot;:&quot;Back.easeOut&quot;,&quot;duration&quot;:1.5,&quot;delay&quot;:2}"><img src="assets/img/indexBanner/BgR.svg"/></div>
          <div class="BgY" data-rellax-speed="1" data-zanim-xs="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;y&quot;:-150,&quot;scale&quot;:1},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;y&quot;:0,&quot;scale&quot;:1},&quot;ease&quot;:&quot;Back.easeOut&quot;,&quot;duration&quot;:1.5,&quot;delay&quot;:1}"><img src="assets/img/indexBanner/BgY.svg"/></div>
        </div>
      </div>
    </div><a class="carousel-control-prev controlIcon" href="#carouselExampleIndicators" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next controlIcon" href="#carouselExampleIndicators" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
  </div>
</section>